ifttt/cloudifttt.flow
[{"id":"e5d7a720.2a71","type":"tab","label":"IFTTT","disabled":false,"info":""},{"id":"a8d816bd.cbf4b8","type":"http in","z":"e5d7a720.2a71","name":"","url":"/alexfromiftt","method":"post","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["372a540.931d5ac","e4c4cda4.4dd6f","f3549714.f3cc68"]]},{"id":"372a540.931d5ac","type":"debug","z":"e5d7a720.2a71","name":"Alexa","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":60,"wires":[]},{"id":"ca9c94e.f9b4668","type":"debug","z":"e5d7a720.2a71","name":"Alexa","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":120,"wires":[]},{"id":"3a74526c.23ff8e","type":"http in","z":"e5d7a720.2a71","name":"","url":"/alexfromiftt","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["ca9c94e.f9b4668","e4c4cda4.4dd6f"]]},{"id":"e4c4cda4.4dd6f","type":"http response","z":"e5d7a720.2a71","name":"","statusCode":"","headers":{},"x":450,"y":100,"wires":[]},{"id":"9de3f687.082858","type":"function","z":"e5d7a720.2a71","name":"","func":"newmsg={}\n\nnewmsg.payload={}\nnewmsg.payload.action=\"localweather\"\nnewmsg.payload.ifttt=msg.payload\nreturn newmsg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["bc8f58a3.ae1b88"]]},{"id":"f3549714.f3cc68","type":"switch","z":"e5d7a720.2a71","name":"","property":"req.query.action","propertyType":"msg","rules":[{"t":"eq","v":"lw","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":240,"wires":[["9de3f687.082858","978d6ff2.dce49"],[]]},{"id":"978d6ff2.dce49","type":"debug","z":"e5d7a720.2a71","name":"getlocalweather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":180,"wires":[]},{"id":"bc8f58a3.ae1b88","type":"ibmiot out","z":"e5d7a720.2a71","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"brunswickave","deviceType":"homepi","eventCommandType":"alexa","format":"json","data":"msg.payload","qos":0,"name":"toHomePI","service":"registered","x":660,"y":240,"wires":[]}]
