ifttt/localhomepi.flow
[{"id":"f03004a5.e31ed8","type":"debug","z":"694c198a.fbc278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"d92db1b5.8ce6","type":"ibmiot in","z":"694c198a.fbc278","authentication":"apiKey","apiKey":"1beff8ff.c20f87","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FromIotiftt","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":80,"wires":[["f03004a5.e31ed8","c3a6a34f.f2441"]]},{"id":"c3a6a34f.f2441","type":"switch","z":"694c198a.fbc278","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"alexaweather","vt":"str"},{"t":"eq","v":"googleweather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":200,"wires":[["bb7d7b65.9a4398"],["59f9b2fc.8ee50c"],[]]},{"id":"bb7d7b65.9a4398","type":"function","z":"694c198a.fbc278","name":"FromAlexaTriggerWeather","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["4c313e76.d458"]]},{"id":"4c313e76.d458","type":"link out","z":"694c198a.fbc278","name":"AlexaManualAsk","links":["902d5ef2.da0e"],"x":695,"y":180,"wires":[]},{"id":"84ca88ac.23d308","type":"comment","z":"694c198a.fbc278","name":"You could Have Alexa answer google request and vise versa ","info":"","x":620,"y":140,"wires":[]},{"id":"59f9b2fc.8ee50c","type":"function","z":"694c198a.fbc278","name":"FromGoogleTriggerWeather","func":"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["29f53127.68c24e"]]},{"id":"29f53127.68c24e","type":"link out","z":"694c198a.fbc278","name":"GoogleManualAsk","links":["c5da61f9.e98e1"],"x":695,"y":220,"wires":[]},{"id":"1beff8ff.c20f87","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
