watson-tts/watson-tts.flow
[{"id":"bb5de467.064468","type":"watson-text-to-speech","z":"fe81107e.369e8","name":"Say it Watson","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/mp3","password":"4wHMFxPvalCp","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":660,"y":1280,"wires":[["2c71f4bd.1f568c","140396e4.a50bc9"]]},{"id":"b5b98415.ca2498","type":"comment","z":"fe81107e.369e8","name":"Watson tts","info":"{\n  \"url\": \"https://stream.watsonplatform.net/text-to-speech/api\",\n  \"password\": \"4wHMFxPvalCp\",\n  \"username\": \"d0868abe-bde9-4458-a2e6-10fa33f89c96\"\n}","x":200,"y":1200,"wires":[]},{"id":"127ccf8d.1fadd","type":"function","z":"fe81107e.369e8","name":"Say local temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"Hello, Somebody is at the Door\"\n//node.warn(msg.payload )\ntxt='Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload=txt\nnode.warn(msg.payload )\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":1280,"wires":[["bb5de467.064468"]]},{"id":"31246516.1e41ba","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1280,"wires":[["127ccf8d.1fadd"]]},{"id":"2c71f4bd.1f568c","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1280,"wires":[]},{"id":"c6020a1a.fba038","type":"chromecast-play","z":"fe81107e.369e8","name":"Say It","url":"","contentType":"","ip":"","x":690,"y":1400,"wires":[["bca1b083.5a0c"]]},{"id":"fa179872.c0d658","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":1400,"wires":[["c6020a1a.fba038"]]},{"id":"bca1b083.5a0c","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1400,"wires":[]},{"id":"140396e4.a50bc9","type":"function","z":"fe81107e.369e8","name":"Save Speech","func":"base = \"/tmp/cache_speech/sayit.mp3\";\nmsg.filename = base// + msg.file;\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1340,"wires":[["1cdb9cbe.bb4d23"]]},{"id":"1cdb9cbe.bb4d23","type":"file","z":"fe81107e.369e8","name":"SaveSpeech","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":670,"y":1340,"wires":[["5dbd889f.269f58"]]},{"id":"30643ab5.7982e6","type":"http in","z":"fe81107e.369e8","name":"","url":"/sayit","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1500,"wires":[["cca0228b.6b3cb"]]},{"id":"cca0228b.6b3cb","type":"file in","z":"fe81107e.369e8","name":"","filename":"/tmp/cache_speech/sayit.mp3","format":"","sendError":true,"x":450,"y":1500,"wires":[["cf4e2467.4535e8"]]},{"id":"cf4e2467.4535e8","type":"change","z":"fe81107e.369e8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1500,"wires":[["fd0825fd.cf3d78"]]},{"id":"fd0825fd.cf3d78","type":"http response","z":"fe81107e.369e8","name":"","x":870,"y":1500,"wires":[]},{"id":"5dbd889f.269f58","type":"delay","z":"fe81107e.369e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1320,"wires":[["fa179872.c0d658"]]},{"id":"112062ae.e2425d","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1240,"wires":[["b62a54e3.904b38"]]},{"id":"b62a54e3.904b38","type":"function","z":"fe81107e.369e8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = global.get(\"airporttemp\")\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and its \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" km/h.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":1240,"wires":[["bb5de467.064468"]]},{"id":"9af493f.60fd37","type":"chromecast-play","z":"fe81107e.369e8","name":"TV","url":"","contentType":"","ip":"","x":690,"y":1440,"wires":[[]]},{"id":"91b389a7.54b228","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":1440,"wires":[["9af493f.60fd37"]]},{"id":"419c857.c1a7c7c","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1440,"wires":[["91b389a7.54b228"]]}]
