twc/weatherdata.flow
[{"id":"78e416d6.c793a8","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["a5906c21.3fb88"]]},{"id":"a5906c21.3fb88","type":"function","z":"f5ff6a29.f4d4b8","name":"Set YOUR TWC APIKEY/username/pwd","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"WAPIKEY\",\"\")\nmsg.payload=\"Weather key set !\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["5a769f0e.aaa03"]]},{"id":"5a769f0e.aaa03","type":"debug","z":"f5ff6a29.f4d4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":80,"wires":[]},{"id":"852342f6.06793","type":"http request","z":"f5ff6a29.f4d4b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":750,"y":280,"wires":[["908eb762.b2a4c8","e06a35b4.6c1468"]]},{"id":"6151c37c.a7904c","type":"inject","z":"f5ff6a29.f4d4b8","name":"GetMyLocalWeather from DarkSky","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":280,"wires":[["8b6d9ede.b36d4"]]},{"id":"8b6d9ede.b36d4","type":"function","z":"f5ff6a29.f4d4b8","name":"get my local weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set your TWC apikey 1st\")\n\nmsg.url=\"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.6714,-79.404?exclude=minutely,hourly,daily,alerts,flags&units=auto\"\n\nmsg.url=\"https://52bf91de-4789-4c1f-9dba-17345c93b115:iOg7d8QEWW@twcservice.mybluemix.net/api/weather/v1/geocode/43.66/-79.40/observations.json?language=en-US&units=m\"\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["852342f6.06793"]]},{"id":"aac2a082.524d9","type":"debug","z":"f5ff6a29.f4d4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":320,"wires":[]},{"id":"908eb762.b2a4c8","type":"http response","z":"f5ff6a29.f4d4b8","name":"","statusCode":"","headers":{},"x":910,"y":280,"wires":[]},{"id":"e06a35b4.6c1468","type":"json","z":"f5ff6a29.f4d4b8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":320,"wires":[["aac2a082.524d9","4fbc7d0d.1fdb44"]]},{"id":"a62c3dad.eae22","type":"comment","z":"f5ff6a29.f4d4b8","name":"TWC","info":"https://52bf91de-4789-4c1f-9dba-17345c93b115:iOg7d8QEWW@twcservice.mybluemix.net/api/weather/v1/geocode/43.66/-79.40/observations.json?language=en-US\n\ntwcservice.mybluemix.net //  is depreciated \ncheck for more infos\ntwcservice.mybluemix.net\n\n","x":130,"y":40,"wires":[]},{"id":"4f469012.b22f7","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":120,"wires":[["593bf161.4915"]]},{"id":"593bf161.4915","type":"function","z":"f5ff6a29.f4d4b8","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["da231198.e2d47"]]},{"id":"da231198.e2d47","type":"debug","z":"f5ff6a29.f4d4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":120,"wires":[]},{"id":"be9dc07b.4c24b","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":160,"wires":[["bb3ba5bf.4f50a8"]]},{"id":"bb3ba5bf.4f50a8","type":"function","z":"f5ff6a29.f4d4b8","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.23\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["77dc3ae5.7cdf74"]]},{"id":"77dc3ae5.7cdf74","type":"debug","z":"f5ff6a29.f4d4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":160,"wires":[]},{"id":"be57e8e5.a1cbb8","type":"debug","z":"f5ff6a29.f4d4b8","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":940,"y":380,"wires":[]},{"id":"4fbc7d0d.1fdb44","type":"function","z":"f5ff6a29.f4d4b8","name":"set  local Temperature","func":"node.warn(msg.payload.observation)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n*/\n\nmsg.payload.observation.mytime=Date.now()\n\nglobal.set(\"localtemp-twc\",msg.payload.observation.temp)\nnode.warn(\"Annex temp = \"+global.get(\"localtemp\"))\nmsg.payload.observation.mytemp=msg.payload.observation.temp\nmsg.payload.observation.myhumidity=msg.payload.observation.rh\nmsg.payload.observation.mypressure=msg.payload.observation.pressure\n\nglobal.set(\"localweather-twc\",msg.payload.observation);\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":380,"wires":[["be57e8e5.a1cbb8","201913b1.2c2bac"]]},{"id":"5ff3bb5c.d0b8e4","type":"chromecast-play","z":"f5ff6a29.f4d4b8","name":"Say It","url":"","contentType":"","ip":"","x":930,"y":480,"wires":[[]]},{"id":"477bbcaf.2169d4","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":420,"y":480,"wires":[["bf44f14f.dab0e"]]},{"id":"bf44f14f.dab0e","type":"function","z":"f5ff6a29.f4d4b8","name":"Hello","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString();\n     nowArray = time.split(':');\n     time = 'Hello, It+is+now '+nowArray[0]+':'+nowArray[1];\n\n\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+time\n//url = 'https://translate.google.com/translate_tts?ie=UTF-8&q='+time+'&tl=en&total=1&idx=0&textlen='+time1.length+'&tk=955860.581808&client=t&prev=input&ttsspeed=1',\n  //   url = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=5&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["5ff3bb5c.d0b8e4"]]},{"id":"201913b1.2c2bac","type":"function","z":"f5ff6a29.f4d4b8","name":"Broadcast local Temperature","func":"url = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":440,"wires":[["5ff3bb5c.d0b8e4"]]},{"id":"6c87c1e8.4851b","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":420,"y":440,"wires":[["201913b1.2c2bac"]]},{"id":"48fb0209.82f10c","type":"comment","z":"f5ff6a29.f4d4b8","name":"ChromeCast tts","info":"","x":180,"y":480,"wires":[]},{"id":"daaadbfd.d16998","type":"http request","z":"f5ff6a29.f4d4b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":690,"y":640,"wires":[["b09ed94.b50bd28"]]},{"id":"22584d60.f162c2","type":"inject","z":"f5ff6a29.f4d4b8","name":"GetMyAirPortWeather","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":640,"wires":[["98d0fe3.f63d"]]},{"id":"98d0fe3.f63d","type":"function","z":"f5ff6a29.f4d4b8","name":"get my Airport weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you dark sky api 1st\")\n//\nmsg.url=\"https://52bf91de-4789-4c1f-9dba-17345c93b115:iOg7d8QEWW@twcservice.mybluemix.net/api/weather/v1/geocode/43.66/-79.40/observations.json?language=en-US&units=m\"\n\nmsg.url=\"https://52bf91de-4789-4c1f-9dba-17345c93b115:iOg7d8QEWW@twcservice.mybluemix.net/api/weather/v1/geocode/43.68/-79.62/observations.json?language=en-US&units=m\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["daaadbfd.d16998"]]},{"id":"b09ed94.b50bd28","type":"json","z":"f5ff6a29.f4d4b8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":680,"wires":[["c7aa43e9.194dc","e9b5b04a.433af"]]},{"id":"c7aa43e9.194dc","type":"debug","z":"f5ff6a29.f4d4b8","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":680,"wires":[]},{"id":"e9b5b04a.433af","type":"function","z":"f5ff6a29.f4d4b8","name":"set  airport Temperature","func":"//node.warn(msg.payload)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n\n*/\nmsg.payload.mytime=Date.now()\nglobal.set(\"airporttemp-twc\",msg.payload.observation.temp)\nnode.warn(\"Airport temp = \"+global.get(\"airporttemp\"))\n\n\nmsg.payload.observation.myairporttemp=msg.payload.observation.temp\nmsg.payload.observation.myphrase=msg.payload.observation.wx_phrase\ngust=msg.payload.observation.gust\nif(gust==null)\ngust=msg.payload.observation.wspd\n\nmsg.payload.observation.mygust=gust\nmsg.payload.observation.mytime=Date.now()\n\nmsg.payload.observation.mytemp=msg.payload.observation.myairporttemp\nmsg.payload.observation.myhumidity=msg.payload.observation.rh\nmsg.payload.observation.mypressure=msg.payload.observation.pressure\nmsg.payload.observation.myfeel=msg.payload.observation.feels_like\nmsg.payload.observation.mysummery=msg.payload.observation.wx_phrase\n\n\nglobal.set(\"airportweather-twc\",msg.payload.observation);\nmsg.payload=msg.payload.observation\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["a20f7318.7f1fa","39540ee6.a47c72"]]},{"id":"a20f7318.7f1fa","type":"function","z":"f5ff6a29.f4d4b8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-twc\"))\nairporttemp = Math.round(global.get(\"airporttemp-twc\"))\nairportweather = global.get(\"airportweather-twc\")\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometer per hour. \"\nnode.warn(msg.payload )\n\nflow.set(\"weathertext\",msg.payload)\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+msg.payload \nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":760,"wires":[["39540ee6.a47c72","7a8d19c4.31c618"]]},{"id":"39540ee6.a47c72","type":"debug","z":"f5ff6a29.f4d4b8","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":720,"wires":[]},{"id":"7a8d19c4.31c618","type":"chromecast-play","z":"f5ff6a29.f4d4b8","name":"Say It","url":"","contentType":"","ip":"","x":950,"y":760,"wires":[[]]},{"id":"d32c6122.17838","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":760,"wires":[["a20f7318.7f1fa"]]},{"id":"4fd1dfcd.9215b","type":"alexa-remote-routine","z":"f5ff6a29.f4d4b8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":960,"y":520,"wires":[[]]},{"id":"3f730f47.de8c7","type":"function","z":"f5ff6a29.f4d4b8","name":"Broadcast local Temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = global.get(\"airporttemp\")\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees\"\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["4fd1dfcd.9215b"]]},{"id":"421f3066.39923","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":420,"y":520,"wires":[["3f730f47.de8c7"]]},{"id":"9ef9e1c7.8cc6a","type":"comment","z":"f5ff6a29.f4d4b8","name":"Alexa tts","info":"","x":160,"y":520,"wires":[]},{"id":"29ff9f3e.6ab02","type":"comment","z":"f5ff6a29.f4d4b8","name":"Local and Airport Infos","info":"","x":200,"y":600,"wires":[]},{"id":"f79c5131.e5d39","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":200,"wires":[["b48e8431.0f9478"]]},{"id":"b48e8431.0f9478","type":"function","z":"f5ff6a29.f4d4b8","name":"Set YOUR local Lat/Lon","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALLATLON\",\"43.6714,-79.404\") //not used \nmsg.payload=\"local Lat/Lon is set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["c092ab07.402c98"]]},{"id":"c092ab07.402c98","type":"debug","z":"f5ff6a29.f4d4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":200,"wires":[]},{"id":"454fcfb1.c96ed","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":240,"wires":[["e27a5af2.6abdc8"]]},{"id":"e27a5af2.6abdc8","type":"function","z":"f5ff6a29.f4d4b8","name":"Set YOUR Airport Lat/Lon","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALLATLON\",\"43.68,-79.62\") //not use just 2 different URL at the moment \nmsg.payload=\"local Lat/Lon is set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["ff5536b0.c28b68"]]},{"id":"ff5536b0.c28b68","type":"debug","z":"f5ff6a29.f4d4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"43d61f9.8cdb7e","type":"alexa-remote-routine","z":"f5ff6a29.f4d4b8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":980,"y":800,"wires":[[]]},{"id":"7d122ae9.554c34","type":"inject","z":"f5ff6a29.f4d4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":280,"y":800,"wires":[["ac0bb7aa.9d74a8"]]},{"id":"ac0bb7aa.9d74a8","type":"function","z":"f5ff6a29.f4d4b8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-twc\"))\nairporttemp = global.get(\"airporttemp-twc\")\nairportweather = global.get(\"airportweather-twc\")\ncloudCoverPhrase=airportweather.myphrase\ngust=airportweather.mygust\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometer per hour. \"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["43d61f9.8cdb7e"]]},{"id":"2d576b28.c67e64","type":"alexa-remote-account","z":"","name":"New","authMethod":"proxy","proxyOwnIp":"10.0.4.23","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"}]
