darksky/clouddashboard.flow
[{"id":"a430d88d.2808b8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"74fff381.4820ac","type":"debug","z":"a430d88d.2808b8","name":"localweather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":200,"wires":[]},{"id":"699af669.b4a6d8","type":"comment","z":"a430d88d.2808b8","name":"takeweather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":310,"y":140,"wires":[]},{"id":"a3fb1bd7.ad23e8","type":"function","z":"a430d88d.2808b8","name":"","func":"//msg.payload = global.get(\"localweather-twc\")\n\n//msg.payload = global.get(\"localweather\")\n//ImageUrl = msg.payload.ImageUrl \n/// any image msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\n\n//msg.payload = global.get(\"localweather-ds\")\n//msg.payload.ImageUrl =ImageUrl\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["12cfc3b1.047b3c","74fff381.4820ac","4ce5e919.8a4978","1b298139.f6ae2f","5d0fa124.33ace"]]},{"id":"48caa140.e569d","type":"comment","z":"a430d88d.2808b8","name":"Airport weather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":290,"y":440,"wires":[]},{"id":"4e33f69c.70d1d8","type":"function","z":"a430d88d.2808b8","name":"","func":"//msg.payload = global.get(\"airportweather-twc\")\n//msg.payload = global.get(\"airportweather-ds\")\n//msg.payload = global.get(\"airportweather\")\nmsg.ImageUrl=\"http://511on.ca/map/Cctv/loc35--2\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["86a034b1.775378","cc3bd7d2.4965b8","c992df9f.0d837","7f7e192a.8cd0a8","1257f7b5.aa69f8","d7ee180a.d271c8","b777ea7b.74b478"]]},{"id":"c992df9f.0d837","type":"debug","z":"a430d88d.2808b8","name":"AirportWeather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":480,"wires":[]},{"id":"1b298139.f6ae2f","type":"function","z":"a430d88d.2808b8","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temerature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["69d4fc8c.f2a624","24230053.848d9"]]},{"id":"d7ee180a.d271c8","type":"function","z":"a430d88d.2808b8","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\n\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temperature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":720,"wires":[["a95ae27a.c163f","b65e8143.aa138"]]},{"id":"5d0fa124.33ace","type":"function","z":"a430d88d.2808b8","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["6d562d8.f2a04d4"]]},{"id":"b777ea7b.74b478","type":"function","z":"a430d88d.2808b8","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":760,"wires":[["cc1161b1.5bebc"]]},{"id":"7f7e192a.8cd0a8","type":"ui_text","z":"a430d88d.2808b8","group":"4cdda17c.aea74","order":6,"width":0,"height":0,"name":"","label":"Cloudy","format":"{{msg.payload.cloudCoverPhrase}}","layout":"row-spread","x":660,"y":640,"wires":[]},{"id":"1257f7b5.aa69f8","type":"ui_text","z":"a430d88d.2808b8","group":"4cdda17c.aea74","order":5,"width":0,"height":0,"name":"","label":"feels like","format":"{{msg.payload.temperatureWindChill}}","layout":"row-spread","x":660,"y":680,"wires":[]},{"id":"6d562d8.f2a04d4","type":"ui_text","z":"a430d88d.2808b8","group":"233385fb.af817a","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":380,"wires":[]},{"id":"cc1161b1.5bebc","type":"ui_text","z":"a430d88d.2808b8","group":"4cdda17c.aea74","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":760,"wires":[]},{"id":"12cfc3b1.047b3c","type":"ui_gauge","z":"a430d88d.2808b8","name":"Annex Temperature","group":"233385fb.af817a","order":1,"width":0,"height":0,"gtype":"gage","title":"Annex Temperature","label":"units","format":"{{msg.payload.mytemp}}","min":"-30","max":"30","colors":["#5507b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"86a034b1.775378","type":"ui_gauge","z":"a430d88d.2808b8","name":"Airport Temperature","group":"4cdda17c.aea74","order":1,"width":0,"height":0,"gtype":"gage","title":"Airport Temperature","label":"units","format":"{{msg.payload.mytemp}}","min":"-30","max":"30","colors":["#5b08b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":540,"wires":[]},{"id":"a95ae27a.c163f","type":"ui_chart","z":"a430d88d.2808b8","name":"","group":"4cdda17c.aea74","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":720,"wires":[[]]},{"id":"69d4fc8c.f2a624","type":"ui_chart","z":"a430d88d.2808b8","name":"","group":"233385fb.af817a","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":320,"wires":[[]]},{"id":"4ce5e919.8a4978","type":"ui_template","z":"a430d88d.2808b8","group":"233385fb.af817a","name":"Balconey","order":3,"width":"6","height":"4","format":"\n<img src=  {{msg.payload.ImageUrl}} alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":280,"wires":[[]]},{"id":"cc3bd7d2.4965b8","type":"ui_template","z":"a430d88d.2808b8","group":"4cdda17c.aea74","name":"Airport","order":3,"width":"6","height":"4","format":"<img src=\"http://511on.ca/map/Cctv/loc35--2\" alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":650,"y":600,"wires":[[]]},{"id":"d7a766af.1a8908","type":"http request","z":"a430d88d.2808b8","name":"Annex Weather","method":"GET","ret":"obj","url":"https://api.bloomsky.com/api/skydata/?unit=intl","tls":"","x":680,"y":40,"wires":[["9ee7eb8b.4ec908","a3288d9a.c2a01"]]},{"id":"a2487974.074368","type":"inject","z":"a430d88d.2808b8","name":"GetLocalTemp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":80,"wires":[["cee0f776.50c3e8"]]},{"id":"cee0f776.50c3e8","type":"function","z":"a430d88d.2808b8","name":"ApiKey","func":"     msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"vNK9rt_oiOrLo9iewLK96JXSy98=\"\n     }\nreturn msg","outputs":1,"noerr":0,"x":460,"y":40,"wires":[["d7a766af.1a8908"]]},{"id":"a0faa999.032948","type":"debug","z":"a430d88d.2808b8","name":"LocalWeather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1020,"y":80,"wires":[]},{"id":"a3288d9a.c2a01","type":"function","z":"a430d88d.2808b8","name":"set url bloomsky image url","func":"\nlocalweather=global.get(\"localweather\");\nnode.warn(localweather)\nlocalweather.ImageUrl = msg.payload[0].Data.ImageURL\n//msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\nglobal.set(\"localweather\",localweather);\nmsg.payload = global.get(\"localweather\")\nmsg.payload.ImageUrl=localweather.ImageUrl \nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["a0faa999.032948","a3fb1bd7.ad23e8"]]},{"id":"8d4cf11d.b05cc","type":"comment","z":"a430d88d.2808b8","name":"getmy local weather image","info":"","x":170,"y":40,"wires":[]},{"id":"748260b6.5793e","type":"comment","z":"a430d88d.2808b8","name":"Display an Image","info":"Your choice of image","x":860,"y":280,"wires":[]},{"id":"f1db2a10.39b358","type":"comment","z":"a430d88d.2808b8","name":"Display an Image","info":"Your choice of image ... most airport have public cameras","x":840,"y":600,"wires":[]},{"id":"b65e8143.aa138","type":"debug","z":"a430d88d.2808b8","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":800,"wires":[]},{"id":"24230053.848d9","type":"debug","z":"a430d88d.2808b8","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":420,"wires":[]},{"id":"9ee7eb8b.4ec908","type":"debug","z":"a430d88d.2808b8","name":"pws image","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":40,"wires":[]},{"id":"8b4900f9.22fbf","type":"ibmiot in","z":"a430d88d.2808b8","authentication":"boundService","apiKey":"290c648e.9be37c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"annexweather","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"AnnexWeather","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":240,"wires":[["2b5f2708.439a98","11374ed4.629871"]]},{"id":"2b5f2708.439a98","type":"debug","z":"a430d88d.2808b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":300,"wires":[]},{"id":"11374ed4.629871","type":"function","z":"a430d88d.2808b8","name":"global.set(\"localweather","func":"global.set(\"localweather\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["cee0f776.50c3e8"]]},{"id":"6ac934b9.97536c","type":"ibmiot in","z":"a430d88d.2808b8","authentication":"boundService","apiKey":"290c648e.9be37c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"yyzweather","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"YYZWeather","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":540,"wires":[["1315180.d16c3e8","4e33f69c.70d1d8"]]},{"id":"1315180.d16c3e8","type":"debug","z":"a430d88d.2808b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":150,"y":600,"wires":[]},{"id":"4cdda17c.aea74","type":"ui_group","z":"a430d88d.2808b8","name":"Toronto Airport Weather","tab":"9dad5d2f.87c53","order":3,"disp":false,"width":"6","collapse":false},{"id":"233385fb.af817a","type":"ui_group","z":"a430d88d.2808b8","name":"Local Weather","tab":"9dad5d2f.87c53","order":2,"disp":false,"width":"6","collapse":false},{"id":"290c648e.9be37c","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9dad5d2f.87c53","type":"ui_tab","z":"a430d88d.2808b8","name":"Home","icon":"dashboard","order":1}]
