darksky/dashboard.flow
[{"id":"5a672b3e.a1ac44","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"1c108205.51563e","type":"debug","z":"5a672b3e.a1ac44","name":"localweather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":200,"wires":[]},{"id":"d0a6a0ed.70f1e","type":"inject","z":"5a672b3e.a1ac44","name":"localweather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":200,"wires":[["37568e66.1eee52"]]},{"id":"d55b0e34.053a5","type":"comment","z":"5a672b3e.a1ac44","name":"takeweather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":350,"y":140,"wires":[]},{"id":"37568e66.1eee52","type":"function","z":"5a672b3e.a1ac44","name":"","func":"\n/// any image \nmsg.payload = global.get(\"localweather-ds\")\nmsg.payload.ImageUrl = \"http://opendata.toronto.ca/transportation/tmc/rescucameraimages/CameraImages/loc8045.jpg\"\n\n//msg.payload.ImageUrl =ImageUrl\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["1c108205.51563e","8212f13e.86852","a4d81b48.728268","53682285.6f136c","7be5324b.35703c","24b9c1a4.55a9ce"]]},{"id":"7c6bdf3d.4ff0e","type":"comment","z":"5a672b3e.a1ac44","name":"Airport weather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":330,"y":440,"wires":[]},{"id":"db2cb520.485738","type":"function","z":"5a672b3e.a1ac44","name":"","func":"msg.payload = global.get(\"airportweather-twc\")\nmsg.payload = global.get(\"airportweather-ds\")\n//msg.payload = global.get(\"airportweather\")\nmsg.ImageUrl=\"http://511on.ca/map/Cctv/loc35--2\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["afea0d55.b6a05","9896c532.f634f8","ca25a2da.fb11","4a9fe491.586f8c","f61a0b8b.673388","dd5952a.22ddeb","792b501e.be6da","d98bab19.c028a8"]]},{"id":"ca25a2da.fb11","type":"debug","z":"5a672b3e.a1ac44","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":480,"wires":[]},{"id":"53682285.6f136c","type":"function","z":"5a672b3e.a1ac44","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temerature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["a509bb5e.ce7298","71fe9a3f.f0be44"]]},{"id":"dd5952a.22ddeb","type":"function","z":"5a672b3e.a1ac44","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\n\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temperature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["a5da0d10.9ff54","84fa10cf.53541"]]},{"id":"7be5324b.35703c","type":"function","z":"5a672b3e.a1ac44","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["9a5d084e.171548"]]},{"id":"792b501e.be6da","type":"function","z":"5a672b3e.a1ac44","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["874bbbd6.91d068"]]},{"id":"4a9fe491.586f8c","type":"ui_text","z":"5a672b3e.a1ac44","group":"94bbd916.beaba8","order":6,"width":0,"height":0,"name":"","label":"Cloudy","format":"{{msg.payload.cloudCoverPhrase}}","layout":"row-spread","x":700,"y":640,"wires":[]},{"id":"f61a0b8b.673388","type":"ui_text","z":"5a672b3e.a1ac44","group":"94bbd916.beaba8","order":5,"width":0,"height":0,"name":"","label":"feels like","format":"{{msg.payload.temperatureWindChill}}","layout":"row-spread","x":700,"y":680,"wires":[]},{"id":"9a5d084e.171548","type":"ui_text","z":"5a672b3e.a1ac44","group":"ca344c0a.077e8","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":380,"wires":[]},{"id":"874bbbd6.91d068","type":"ui_text","z":"5a672b3e.a1ac44","group":"94bbd916.beaba8","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":760,"wires":[]},{"id":"8212f13e.86852","type":"ui_gauge","z":"5a672b3e.a1ac44","name":"Annex Temperature","group":"ca344c0a.077e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Annex Temperature","label":"units","format":"{{msg.payload.mytemp}}","min":"-30","max":"30","colors":["#5507b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":240,"wires":[]},{"id":"afea0d55.b6a05","type":"ui_gauge","z":"5a672b3e.a1ac44","name":"Airport Temperature","group":"94bbd916.beaba8","order":1,"width":0,"height":0,"gtype":"gage","title":"Airport Temperature","label":"units","format":"{{msg.payload.temperature}}","min":"-30","max":"30","colors":["#5b08b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":540,"wires":[]},{"id":"a5da0d10.9ff54","type":"ui_chart","z":"5a672b3e.a1ac44","name":"","group":"94bbd916.beaba8","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":720,"wires":[[]]},{"id":"a509bb5e.ce7298","type":"ui_chart","z":"5a672b3e.a1ac44","name":"","group":"ca344c0a.077e8","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":320,"wires":[[]]},{"id":"a4d81b48.728268","type":"ui_template","z":"5a672b3e.a1ac44","group":"ca344c0a.077e8","name":"Balconey","order":3,"width":"6","height":"4","format":"\n<img src=  {{msg.payload.ImageUrl}} alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":280,"wires":[[]]},{"id":"9896c532.f634f8","type":"ui_template","z":"5a672b3e.a1ac44","group":"94bbd916.beaba8","name":"Airport","order":3,"width":"6","height":"4","format":"<img src=\"http://511on.ca/map/Cctv/loc35--2\" alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":600,"wires":[[]]},{"id":"78d18e89.c5cc5","type":"http request","z":"5a672b3e.a1ac44","name":"Annex Weather","method":"GET","ret":"obj","url":"https://api.bloomsky.com/api/skydata/?unit=intl","tls":"","x":720,"y":40,"wires":[["6e08ff8.9e573","8021f645.293888"]]},{"id":"8311c0c7.2ae4c","type":"inject","z":"5a672b3e.a1ac44","name":"GetLocalTemp","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"","x":220,"y":80,"wires":[[]]},{"id":"fd5df7.79df9208","type":"function","z":"5a672b3e.a1ac44","name":"ApiKey","func":"     msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"YOUR PWS KEy\"\n     }\nreturn msg","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["78d18e89.c5cc5"]]},{"id":"6f2f42ef.a80c6c","type":"debug","z":"5a672b3e.a1ac44","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":80,"wires":[]},{"id":"8021f645.293888","type":"function","z":"5a672b3e.a1ac44","name":"set url bloomsky image url","func":"//msg.payload = global.get(\"localweather\")\nlocalweather=global.get(\"localweather\");\nnode.warn(localweather)\nlocalweather.ImageUrl = msg.payload[0].Data.ImageURL\n//msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\nglobal.set(\"localweather\",localweather);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["6f2f42ef.a80c6c"]]},{"id":"da9c8e6b.49fe3","type":"comment","z":"5a672b3e.a1ac44","name":"getmy local weather image","info":"","x":210,"y":40,"wires":[]},{"id":"fd22754f.411d98","type":"comment","z":"5a672b3e.a1ac44","name":"Display an Image","info":"Your choice of image","x":900,"y":280,"wires":[]},{"id":"223c3a0b.e36956","type":"comment","z":"5a672b3e.a1ac44","name":"Display an Image","info":"Your choice of image ... most airport have public cameras","x":880,"y":600,"wires":[]},{"id":"923a5ad.71e72a8","type":"comment","z":"5a672b3e.a1ac44","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":240,"wires":[]},{"id":"eab5e383.6a1d7","type":"comment","z":"5a672b3e.a1ac44","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":540,"wires":[]},{"id":"84fa10cf.53541","type":"debug","z":"5a672b3e.a1ac44","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":800,"wires":[]},{"id":"71fe9a3f.f0be44","type":"debug","z":"5a672b3e.a1ac44","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":420,"wires":[]},{"id":"24b9c1a4.55a9ce","type":"ibmiot out","z":"5a672b3e.a1ac44","authentication":"apiKey","apiKey":"a43083f5.da42b","outputType":"evt","deviceId":"annexweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":320,"wires":[]},{"id":"d98bab19.c028a8","type":"ibmiot out","z":"5a672b3e.a1ac44","authentication":"apiKey","apiKey":"a43083f5.da42b","outputType":"evt","deviceId":"yyzweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":600,"wires":[]},{"id":"6e08ff8.9e573","type":"debug","z":"5a672b3e.a1ac44","name":"pws image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":40,"wires":[]},{"id":"2fbccde2.7f50a2","type":"inject","z":"5a672b3e.a1ac44","name":"AirportWeather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":500,"wires":[["db2cb520.485738"]]},{"id":"94bbd916.beaba8","type":"ui_group","z":"5a672b3e.a1ac44","name":"Toronto Airport Weather","tab":"ba16bda8.6a743","order":3,"disp":false,"width":"6","collapse":false},{"id":"ca344c0a.077e8","type":"ui_group","z":"5a672b3e.a1ac44","name":"Local Weather","tab":"ba16bda8.6a743","order":2,"disp":false,"width":"6","collapse":false},{"id":"a43083f5.da42b","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ba16bda8.6a743","type":"ui_tab","z":"5a672b3e.a1ac44","name":"Home","icon":"dashboard","order":1}]
