darksky/dashboard.flow
[{"id":"d9a6ed14.6d4b7","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"53cccf09.b6963","type":"debug","z":"d9a6ed14.6d4b7","name":"localweather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":200,"wires":[]},{"id":"6150e2e8.e5568c","type":"inject","z":"d9a6ed14.6d4b7","name":"localweather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":200,"wires":[["accb0cee.217d4"]]},{"id":"bb7ca714.05aa98","type":"comment","z":"d9a6ed14.6d4b7","name":"takeweather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":350,"y":140,"wires":[]},{"id":"accb0cee.217d4","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"\n/// any image \nmsg.payload = global.get(\"localweather-ds\")\nmsg.payload.ImageUrl = \"http://opendata.toronto.ca/transportation/tmc/rescucameraimages/CameraImages/loc8046.jpg\"\n//http://opendata.toronto.ca/transportation/tmc/rescucameraimages/CameraImages/loc8045.jpg\n//msg.payload.ImageUrl =ImageUrl\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["53cccf09.b6963","2f0e1e23.76dea2","1c107b73.97b3f5","da1e460c.cc72f8","1a6de4c9.cd57fb","62f808ca.f36928"]]},{"id":"c68875a2.b922d8","type":"comment","z":"d9a6ed14.6d4b7","name":"Airport weather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":330,"y":440,"wires":[]},{"id":"280c2485.76c58c","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"msg.payload = global.get(\"airportweather-twc\")\nmsg.payload = global.get(\"airportweather-ds\")\n//msg.payload = global.get(\"airportweather\")\nmsg.ImageUrl=\"http://511on.ca/map/Cctv/loc35--2\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["3ec4ab91.c7a934","b130c4db.7d18c8","f4414435.968368","76a6281a.9dcf18","9279a3d.77bcc6","a4007f15.1ad3e","61c1cbbf.f65cd4","a1817aa9.48f4d8"]]},{"id":"f4414435.968368","type":"debug","z":"d9a6ed14.6d4b7","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":480,"wires":[]},{"id":"da1e460c.cc72f8","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temerature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["c0b7f537.59e398","970c33af.8cca7"]]},{"id":"a4007f15.1ad3e","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\n\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temperature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["65fe3ee9.03092","90df0832.7034b8"]]},{"id":"1a6de4c9.cd57fb","type":"function","z":"d9a6ed14.6d4b7","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["e7150f31.41f09"]]},{"id":"61c1cbbf.f65cd4","type":"function","z":"d9a6ed14.6d4b7","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["d949f86f.1cea88"]]},{"id":"76a6281a.9dcf18","type":"ui_text","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","order":6,"width":0,"height":0,"name":"","label":"Cloudy","format":"{{msg.payload.cloudCoverPhrase}}","layout":"row-spread","x":700,"y":640,"wires":[]},{"id":"9279a3d.77bcc6","type":"ui_text","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","order":5,"width":0,"height":0,"name":"","label":"feels like","format":"{{msg.payload.temperatureWindChill}}","layout":"row-spread","x":700,"y":680,"wires":[]},{"id":"e7150f31.41f09","type":"ui_text","z":"d9a6ed14.6d4b7","group":"91f6e1c9.cd2eb","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":380,"wires":[]},{"id":"d949f86f.1cea88","type":"ui_text","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":760,"wires":[]},{"id":"2f0e1e23.76dea2","type":"ui_gauge","z":"d9a6ed14.6d4b7","name":"Annex Temperature","group":"91f6e1c9.cd2eb","order":1,"width":0,"height":0,"gtype":"gage","title":"Annex Temperature","label":"units","format":"{{msg.payload.mytemp}}","min":"-30","max":"30","colors":["#5507b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":240,"wires":[]},{"id":"3ec4ab91.c7a934","type":"ui_gauge","z":"d9a6ed14.6d4b7","name":"Airport Temperature","group":"acffa496.1c3e28","order":1,"width":0,"height":0,"gtype":"gage","title":"Airport Temperature","label":"units","format":"{{msg.payload.myfeel}}","min":"-30","max":"30","colors":["#5b08b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":540,"wires":[]},{"id":"65fe3ee9.03092","type":"ui_chart","z":"d9a6ed14.6d4b7","name":"","group":"acffa496.1c3e28","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":720,"wires":[[]]},{"id":"c0b7f537.59e398","type":"ui_chart","z":"d9a6ed14.6d4b7","name":"","group":"91f6e1c9.cd2eb","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":320,"wires":[[]]},{"id":"1c107b73.97b3f5","type":"ui_template","z":"d9a6ed14.6d4b7","group":"91f6e1c9.cd2eb","name":"Balconey","order":3,"width":"6","height":"4","format":"\n<img src=  {{msg.payload.ImageUrl}} alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":280,"wires":[[]]},{"id":"b130c4db.7d18c8","type":"ui_template","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","name":"Airport","order":3,"width":"6","height":"4","format":"<img src=\"http://511on.ca/map/Cctv/loc35--2\" alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":600,"wires":[[]]},{"id":"a74f7215.37e69","type":"http request","z":"d9a6ed14.6d4b7","name":"Annex Weather","method":"GET","ret":"obj","url":"https://api.bloomsky.com/api/skydata/?unit=intl","tls":"","x":720,"y":40,"wires":[["827e4a82.8c3498","31e51805.617388"]]},{"id":"1c11a30.7b8ec5d","type":"inject","z":"d9a6ed14.6d4b7","name":"GetLocalTemp","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"","x":220,"y":80,"wires":[[]]},{"id":"5813bbfd.e2ed44","type":"function","z":"d9a6ed14.6d4b7","name":"ApiKey","func":"     msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"YOUR PWS KEy\"\n     }\nreturn msg","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["a74f7215.37e69"]]},{"id":"6bbf1665.6f7778","type":"debug","z":"d9a6ed14.6d4b7","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":80,"wires":[]},{"id":"31e51805.617388","type":"function","z":"d9a6ed14.6d4b7","name":"set url bloomsky image url","func":"//msg.payload = global.get(\"localweather\")\nlocalweather=global.get(\"localweather\");\nnode.warn(localweather)\nlocalweather.ImageUrl = msg.payload[0].Data.ImageURL\n//msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\nglobal.set(\"localweather\",localweather);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["6bbf1665.6f7778"]]},{"id":"d29ea711.b669f8","type":"comment","z":"d9a6ed14.6d4b7","name":"getmy local weather image","info":"","x":210,"y":40,"wires":[]},{"id":"57af556a.51888c","type":"comment","z":"d9a6ed14.6d4b7","name":"Display an Image","info":"Your choice of image","x":900,"y":280,"wires":[]},{"id":"d9fdf8b9.be9298","type":"comment","z":"d9a6ed14.6d4b7","name":"Display an Image","info":"Your choice of image ... most airport have public cameras","x":880,"y":600,"wires":[]},{"id":"599d35b0.46218c","type":"comment","z":"d9a6ed14.6d4b7","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":240,"wires":[]},{"id":"d042f0a0.74b83","type":"comment","z":"d9a6ed14.6d4b7","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":540,"wires":[]},{"id":"90df0832.7034b8","type":"debug","z":"d9a6ed14.6d4b7","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":800,"wires":[]},{"id":"970c33af.8cca7","type":"debug","z":"d9a6ed14.6d4b7","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":420,"wires":[]},{"id":"62f808ca.f36928","type":"ibmiot out","z":"d9a6ed14.6d4b7","authentication":"apiKey","apiKey":"a43083f5.da42b","outputType":"evt","deviceId":"annexweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":320,"wires":[]},{"id":"a1817aa9.48f4d8","type":"ibmiot out","z":"d9a6ed14.6d4b7","authentication":"apiKey","apiKey":"a43083f5.da42b","outputType":"evt","deviceId":"yyzweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":600,"wires":[]},{"id":"827e4a82.8c3498","type":"debug","z":"d9a6ed14.6d4b7","name":"pws image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":40,"wires":[]},{"id":"e1f2b784.393a28","type":"inject","z":"d9a6ed14.6d4b7","name":"AirportWeather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":500,"wires":[["280c2485.76c58c"]]},{"id":"92d69c05.f0432","type":"ui_button","z":"d9a6ed14.6d4b7","name":"","group":"f319f13.6d6731","order":4,"width":0,"height":0,"passthru":false,"label":"Alexa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":380,"wires":[["8aa472a4.de2e5"]]},{"id":"8aa472a4.de2e5","type":"link out","z":"d9a6ed14.6d4b7","name":"Alexa","links":["21d7dec3.5f8fc2"],"x":375,"y":380,"wires":[]},{"id":"f0f99015.53b0b","type":"ui_button","z":"d9a6ed14.6d4b7","name":"","group":"f319f13.6d6731","order":4,"width":0,"height":0,"passthru":false,"label":"Google","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":680,"wires":[["ad5c98a5.2a0928"]]},{"id":"ad5c98a5.2a0928","type":"link out","z":"d9a6ed14.6d4b7","name":"Google","links":["4020bb76.dee544"],"x":335,"y":680,"wires":[]},{"id":"f5a0a521.4a8388","type":"debug","z":"d9a6ed14.6d4b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":20,"wires":[]},{"id":"758874f5.36c6ec","type":"ibmiot in","z":"d9a6ed14.6d4b7","authentication":"apiKey","apiKey":"fa7ef1b7.6de13","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FromIotiftt","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":640,"y":20,"wires":[["f5a0a521.4a8388","6f9a1ddf.f57de4"]]},{"id":"6f9a1ddf.f57de4","type":"switch","z":"d9a6ed14.6d4b7","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"localweather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":80,"wires":[["21604277.c2ec4e"],[]]},{"id":"21604277.c2ec4e","type":"function","z":"d9a6ed14.6d4b7","name":"FromAlexaTriggerWeather","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":80,"wires":[["bd6eede7.6bbb8"]]},{"id":"bd6eede7.6bbb8","type":"link out","z":"d9a6ed14.6d4b7","name":"AlexaManualAsk","links":["902d5ef2.da0e"],"x":1255,"y":80,"wires":[]},{"id":"acffa496.1c3e28","type":"ui_group","z":"d9a6ed14.6d4b7","name":"Toronto Airport Weather","tab":"46bf74f8.259e9c","order":3,"disp":false,"width":"6","collapse":false},{"id":"91f6e1c9.cd2eb","type":"ui_group","z":"d9a6ed14.6d4b7","name":"Local Weather","tab":"46bf74f8.259e9c","order":2,"disp":false,"width":"6","collapse":false},{"id":"a43083f5.da42b","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f319f13.6d6731","type":"ui_group","z":"","name":"Tools","tab":"46bf74f8.259e9c","order":1,"disp":true,"width":"2","collapse":false},{"id":"fa7ef1b7.6de13","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"46bf74f8.259e9c","type":"ui_tab","z":"d9a6ed14.6d4b7","name":"Home","icon":"dashboard","order":1}]
