darksky/dashboardv2.flow
[{"id":"9893a709.1b1638","type":"debug","z":"55522a2b.60bdc4","name":"localweather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":200,"wires":[]},{"id":"f39019cf.801f68","type":"inject","z":"55522a2b.60bdc4","name":"localweather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":200,"wires":[["e3d9e3de.d0ea4"]]},{"id":"ff139e7b.75559","type":"comment","z":"55522a2b.60bdc4","name":"takeweather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":350,"y":140,"wires":[]},{"id":"e3d9e3de.d0ea4","type":"function","z":"55522a2b.60bdc4","name":"","func":"msg.payload = global.get(\"localweather-twc\")\n\nmsg.payload = global.get(\"localweather-wu\")\nImageUrl = msg.payload.ImageUrl \n/// any image msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\nImageUrl = \"http://opendata.toronto.ca/transportation/tmc/rescucameraimages/CameraImages/loc8046.jpg\"\nmsg.payload = global.get(\"localweather-ds\")\nmsg.payload.ImageUrl =ImageUrl\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["9893a709.1b1638","3139d240.f0799e","70aeee18.587f9","235bd730.f72168","875f3f4e.4c437","8a9040b6.0eb84","16d600ac.e92c4f"]]},{"id":"b4519647.805d88","type":"comment","z":"55522a2b.60bdc4","name":"Airport weather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":330,"y":440,"wires":[]},{"id":"570d5c09.1c0264","type":"function","z":"55522a2b.60bdc4","name":"","func":"msg.payload = global.get(\"airportweather-twc\")\nmsg.payload = global.get(\"airportweather-ds\")\n//msg.payload = global.get(\"airportweather\")\nmsg.ImageUrl=\"http://511on.ca/map/Cctv/loc35--2\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["78ebbd37.f521c4","4cb234c7.5cd1ec","30df2209.dc845e","6f798226.b9dc1c","f3ae9d58.1c76d","39177ccc.b86aa4","9c74c058.4fce5","1abbf7ad.aa34d8"]]},{"id":"30df2209.dc845e","type":"debug","z":"55522a2b.60bdc4","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":480,"wires":[]},{"id":"235bd730.f72168","type":"function","z":"55522a2b.60bdc4","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temerature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["7fb44492.70b18c","db8ca6c1.654978"]]},{"id":"39177ccc.b86aa4","type":"function","z":"55522a2b.60bdc4","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\n\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temperature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["c4e2f0b0.a6604","3f9febcc.4cf3e4"]]},{"id":"875f3f4e.4c437","type":"function","z":"55522a2b.60bdc4","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["18a18206.c1a81e"]]},{"id":"9c74c058.4fce5","type":"function","z":"55522a2b.60bdc4","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["30dd855f.16120a"]]},{"id":"6f798226.b9dc1c","type":"ui_text","z":"55522a2b.60bdc4","group":"a2cc229b.14e12","order":6,"width":0,"height":0,"name":"","label":"Cloudy","format":"{{msg.payload.mysummery}}","layout":"row-spread","x":700,"y":640,"wires":[]},{"id":"f3ae9d58.1c76d","type":"ui_text","z":"55522a2b.60bdc4","group":"a2cc229b.14e12","order":5,"width":0,"height":0,"name":"","label":"feels like","format":"{{msg.payload.myfeel}}","layout":"row-spread","x":700,"y":680,"wires":[]},{"id":"18a18206.c1a81e","type":"ui_text","z":"55522a2b.60bdc4","group":"73e343bf.20be3c","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":380,"wires":[]},{"id":"30dd855f.16120a","type":"ui_text","z":"55522a2b.60bdc4","group":"a2cc229b.14e12","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":760,"wires":[]},{"id":"3139d240.f0799e","type":"ui_gauge","z":"55522a2b.60bdc4","name":"Annex Temperature","group":"73e343bf.20be3c","order":1,"width":0,"height":0,"gtype":"gage","title":"Annex Temperature","label":"units","format":"{{msg.payload.mytemp}}","min":"-30","max":"30","colors":["#5507b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":240,"wires":[]},{"id":"78ebbd37.f521c4","type":"ui_gauge","z":"55522a2b.60bdc4","name":"Airport Temperature","group":"a2cc229b.14e12","order":1,"width":0,"height":0,"gtype":"gage","title":"Airport Temperature","label":"units","format":"{{msg.payload.myfeel}}","min":"-30","max":"30","colors":["#5b08b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":540,"wires":[]},{"id":"c4e2f0b0.a6604","type":"ui_chart","z":"55522a2b.60bdc4","name":"","group":"a2cc229b.14e12","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":720,"wires":[[]]},{"id":"7fb44492.70b18c","type":"ui_chart","z":"55522a2b.60bdc4","name":"","group":"73e343bf.20be3c","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":320,"wires":[[]]},{"id":"70aeee18.587f9","type":"ui_template","z":"55522a2b.60bdc4","group":"73e343bf.20be3c","name":"Balconey","order":3,"width":"6","height":"4","format":"\n<img src=  {{msg.payload.ImageUrl}} alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":280,"wires":[[]]},{"id":"4cb234c7.5cd1ec","type":"ui_template","z":"55522a2b.60bdc4","group":"a2cc229b.14e12","name":"Airport","order":3,"width":"6","height":"4","format":"<img src=\"http://511on.ca/map/Cctv/loc35--2\" alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":600,"wires":[[]]},{"id":"d2140e38.740c4","type":"http request","z":"55522a2b.60bdc4","name":"Annex Weather","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.bloomsky.com/api/skydata/?unit=intl","tls":"","proxy":"","authType":"","x":720,"y":40,"wires":[["70c2e256.3b539c","dca9d87d.700188"]]},{"id":"578546dc.ce7cb8","type":"inject","z":"55522a2b.60bdc4","name":"GetLocalTemp","topic":"","payload":"","payloadType":"date","repeat":"540","crontab":"","once":true,"onceDelay":"","x":220,"y":80,"wires":[[]]},{"id":"41ccfd89.7a2264","type":"function","z":"55522a2b.60bdc4","name":"ApiKey","func":"     msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"=\"\n     }\nreturn msg","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["d2140e38.740c4"]]},{"id":"a3c3016b.719f1","type":"debug","z":"55522a2b.60bdc4","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":80,"wires":[]},{"id":"dca9d87d.700188","type":"function","z":"55522a2b.60bdc4","name":"set url bloomsky image url","func":"//msg.payload = global.get(\"localweather\")\nlocalweather=global.get(\"localweather\");\nnode.warn(localweather)\nlocalweather.ImageUrl = msg.payload[0].Data.ImageURL\n//msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\nglobal.set(\"localweather\",localweather);\nglobal.set(\"localweather-wu\",localweather);\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["e3d9e3de.d0ea4","a3c3016b.719f1"]]},{"id":"e4f610e3.076f4","type":"comment","z":"55522a2b.60bdc4","name":"getmy local weather image","info":"","x":210,"y":40,"wires":[]},{"id":"9f1fa53c.5cd6c8","type":"comment","z":"55522a2b.60bdc4","name":"Display an Image","info":"Your choice of image","x":900,"y":280,"wires":[]},{"id":"e0bb30f8.5c448","type":"comment","z":"55522a2b.60bdc4","name":"Display an Image","info":"Your choice of image ... most airport have public cameras","x":880,"y":600,"wires":[]},{"id":"b3d76ce5.7e68e","type":"comment","z":"55522a2b.60bdc4","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":240,"wires":[]},{"id":"5afcb9d2.5e9d88","type":"comment","z":"55522a2b.60bdc4","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":540,"wires":[]},{"id":"3f9febcc.4cf3e4","type":"debug","z":"55522a2b.60bdc4","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":800,"wires":[]},{"id":"db8ca6c1.654978","type":"debug","z":"55522a2b.60bdc4","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":420,"wires":[]},{"id":"8a9040b6.0eb84","type":"ibmiot out","z":"55522a2b.60bdc4","authentication":"apiKey","apiKey":"1beff8ff.c20f87","outputType":"evt","deviceId":"annexweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":320,"wires":[]},{"id":"1abbf7ad.aa34d8","type":"ibmiot out","z":"55522a2b.60bdc4","authentication":"apiKey","apiKey":"1beff8ff.c20f87","outputType":"evt","deviceId":"yyzweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":600,"wires":[]},{"id":"70c2e256.3b539c","type":"debug","z":"55522a2b.60bdc4","name":"pws image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":40,"wires":[]},{"id":"e765641e.c94c98","type":"inject","z":"55522a2b.60bdc4","name":"AirportWeather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":500,"wires":[["570d5c09.1c0264"]]},{"id":"77d108da.031098","type":"ui_text","z":"55522a2b.60bdc4","group":"73e343bf.20be3c","order":4,"width":0,"height":0,"name":"","label":"IpAddresses","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":180,"wires":[]},{"id":"16d600ac.e92c4f","type":"function","z":"55522a2b.60bdc4","name":"IP Addresses","func":"msg.payload = \"Wlan0:\"+global.get(\"wlanip\") +\"\\n Eth0:\"+global.get(\"ethernetip\")\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":180,"wires":[["77d108da.031098","be2e2655.286e58"]]},{"id":"6679e54e.68337c","type":"ui_button","z":"55522a2b.60bdc4","name":"","group":"33097cd0.a119b4","order":0,"width":"0","height":"0","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["8ed49c7e.8a85c","19f31f6c.c8d401"]]},{"id":"be2e2655.286e58","type":"debug","z":"55522a2b.60bdc4","name":"ipaddresses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":240,"wires":[]},{"id":"8ed49c7e.8a85c","type":"link out","z":"55522a2b.60bdc4","name":"Refresh","links":["9af61feb.3b8dc"],"x":340,"y":400,"wires":[]},{"id":"19f31f6c.c8d401","type":"delay","z":"55522a2b.60bdc4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":360,"wires":[["e3d9e3de.d0ea4","570d5c09.1c0264"]]},{"id":"a2cc229b.14e12","type":"ui_group","z":"55522a2b.60bdc4","name":"Toronto Airport Weather","tab":"67a4ad6d.afa534","order":3,"disp":false,"width":"6","collapse":false},{"id":"73e343bf.20be3c","type":"ui_group","z":"55522a2b.60bdc4","name":"Local Weather","tab":"67a4ad6d.afa534","order":2,"disp":false,"width":"6","collapse":false},{"id":"1beff8ff.c20f87","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"33097cd0.a119b4","type":"ui_group","z":"","name":"Tools","tab":"67a4ad6d.afa534","disp":true,"width":"2","collapse":false},{"id":"67a4ad6d.afa534","type":"ui_tab","z":"55522a2b.60bdc4","name":"Home","icon":"dashboard","order":1}]
