darksky/watson-tts.flow
[{"id":"38e47c1a.fca7f4","type":"watson-text-to-speech","z":"84408a36.5c40a8","name":"Say it Watson","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/mp3","password":"4wHMFxPvalCp","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":680,"y":1100,"wires":[["1891b3a9.9a95dc","24b589c1.07f476"]]},{"id":"51804e8f.97803","type":"comment","z":"84408a36.5c40a8","name":"Watson tts","info":"{\n  \"url\": \"https://stream.watsonplatform.net/text-to-speech/api\",\n  \"password\": \"4wHMFxPvalCp\",\n  \"username\": \"d0868abe-bde9-4458-a2e6-10fa33f89c96\"\n}","x":220,"y":1020,"wires":[]},{"id":"f09cc534.00e938","type":"function","z":"84408a36.5c40a8","name":"Say local temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"Hello, Somebody is at the Door\"\n//node.warn(msg.payload )\ntxt='Local temperature is now '+ global.get(\"localtemp-ds\") +\" degree's !\"\nmsg.payload=txt\nnode.warn(msg.payload )\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":1100,"wires":[["38e47c1a.fca7f4"]]},{"id":"3c54833b.545bdc","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1100,"wires":[["f09cc534.00e938"]]},{"id":"1891b3a9.9a95dc","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1100,"wires":[]},{"id":"485fa2d9.eca0ac","type":"chromecast-play","z":"84408a36.5c40a8","name":"Say It","url":"","contentType":"","ip":"","x":710,"y":1220,"wires":[["58aba11a.a041"]]},{"id":"9c081f99.f0451","type":"function","z":"84408a36.5c40a8","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1220,"wires":[["485fa2d9.eca0ac"]]},{"id":"58aba11a.a041","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1220,"wires":[]},{"id":"24b589c1.07f476","type":"function","z":"84408a36.5c40a8","name":"Save Speech","func":"base = \"/tmp/cache_speech/sayit.mp3\";\nmsg.filename = base// + msg.file;\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1160,"wires":[["d8b6f349.79143"]]},{"id":"d8b6f349.79143","type":"file","z":"84408a36.5c40a8","name":"SaveSpeech","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":690,"y":1160,"wires":[["ac37a449.45c518"]]},{"id":"53085f3.61d20a","type":"http in","z":"84408a36.5c40a8","name":"","url":"/sayit","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1320,"wires":[["fdcab240.9b89c"]]},{"id":"fdcab240.9b89c","type":"file in","z":"84408a36.5c40a8","name":"","filename":"/tmp/cache_speech/sayit.mp3","format":"","sendError":true,"x":470,"y":1320,"wires":[["8b2a0ae8.155818"]]},{"id":"8b2a0ae8.155818","type":"change","z":"84408a36.5c40a8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1320,"wires":[["36514ec.07c91b2"]]},{"id":"36514ec.07c91b2","type":"http response","z":"84408a36.5c40a8","name":"","x":890,"y":1320,"wires":[]},{"id":"ac37a449.45c518","type":"delay","z":"84408a36.5c40a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1140,"wires":[["9c081f99.f0451"]]},{"id":"f54132b4.3269f","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1060,"wires":[["ef7b296c.2baaf8"]]},{"id":"ef7b296c.2baaf8","type":"function","z":"84408a36.5c40a8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp-ds\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = global.get(\"airporttemp-ds\")\nairportweather = global.get(\"airportweather-ds\")\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and its \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" km/h.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":1060,"wires":[["38e47c1a.fca7f4"]]},{"id":"6f198aea.d81e94","type":"chromecast-play","z":"84408a36.5c40a8","name":"TV","url":"","contentType":"","ip":"","x":710,"y":1260,"wires":[[]]},{"id":"e4f136c9.42b988","type":"function","z":"84408a36.5c40a8","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1260,"wires":[["6f198aea.d81e94"]]},{"id":"6cdeadce.ffc994","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1260,"wires":[["e4f136c9.42b988"]]}]
