darksky/watson-tts.flow
[{"id":"eb153369.5fdc5","type":"tab","label":"WTTS","disabled":false,"info":""},{"id":"3f68f386.da0d0c","type":"watson-text-to-speech","z":"eb153369.5fdc5","name":"Say it Watson","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/mp3","password":"4wHMFxPvalCp","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":620,"y":280,"wires":[["30c45ac2.196c96","32f964b5.aea01c"]]},{"id":"4c3d9df3.6f8884","type":"comment","z":"eb153369.5fdc5","name":"Watson tts","info":"{\n  \"url\": \"https://stream.watsonplatform.net/text-to-speech/api\",\n  \"password\": \"4wHMFxPvalCp\",\n  \"username\": \"d0868abe-bde9-4458-a2e6-10fa33f89c96\"\n}","x":160,"y":40,"wires":[]},{"id":"35512ab0.6596f6","type":"function","z":"eb153369.5fdc5","name":"Say local temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"Hello, Somebody is at the Door\"\n//node.warn(msg.payload )\ntxt='Local temperature is now '+ global.get(\"localtemp-ds\") +\" degree's !\"\nmsg.payload=txt\nnode.warn(msg.payload )\nreturn msg;\n\n","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["3f68f386.da0d0c"]]},{"id":"65304039.54677","type":"inject","z":"eb153369.5fdc5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":280,"wires":[["35512ab0.6596f6"]]},{"id":"30c45ac2.196c96","type":"debug","z":"eb153369.5fdc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":280,"wires":[]},{"id":"d5ddab00.7d5868","type":"chromecast-play","z":"eb153369.5fdc5","name":"Say It","url":"","contentType":"","ip":"","x":650,"y":400,"wires":[["2c3e377b.7cc0f8"]]},{"id":"44b7ab44.1798c4","type":"function","z":"eb153369.5fdc5","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["d5ddab00.7d5868"]]},{"id":"2c3e377b.7cc0f8","type":"debug","z":"eb153369.5fdc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":400,"wires":[]},{"id":"32f964b5.aea01c","type":"function","z":"eb153369.5fdc5","name":"Save Speech","func":"base = \"/tmp/cache_speech/sayit.mp3\";\nmsg.filename = base// + msg.file;\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["81b86b3f.7cb6c8"]]},{"id":"81b86b3f.7cb6c8","type":"file","z":"eb153369.5fdc5","name":"SaveSpeech","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":630,"y":340,"wires":[["128cf3fa.5ec39c"]]},{"id":"f02a2286.e6bef","type":"http in","z":"eb153369.5fdc5","name":"","url":"/sayit","method":"get","upload":false,"swaggerDoc":"","x":160,"y":500,"wires":[["d5f2e548.eb3518"]]},{"id":"d5f2e548.eb3518","type":"file in","z":"eb153369.5fdc5","name":"","filename":"/tmp/cache_speech/sayit.mp3","format":"","sendError":true,"x":410,"y":500,"wires":[["5e01acf8.54f214"]]},{"id":"5e01acf8.54f214","type":"change","z":"eb153369.5fdc5","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":500,"wires":[["b0358077.dce2c"]]},{"id":"b0358077.dce2c","type":"http response","z":"eb153369.5fdc5","name":"","x":830,"y":500,"wires":[]},{"id":"128cf3fa.5ec39c","type":"delay","z":"eb153369.5fdc5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":320,"wires":[["44b7ab44.1798c4"]]},{"id":"1b41ad74.d5dd93","type":"inject","z":"eb153369.5fdc5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["41065292.550b9c"]]},{"id":"41065292.550b9c","type":"function","z":"eb153369.5fdc5","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp-ds\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = global.get(\"airporttemp-ds\")\nairportweather = global.get(\"airportweather-ds\")\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and its \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" km/h.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["3f68f386.da0d0c"]]},{"id":"8d6d2bae.c885c8","type":"chromecast-play","z":"eb153369.5fdc5","name":"TV","url":"","contentType":"","ip":"","x":650,"y":440,"wires":[[]]},{"id":"29ac19e.e1229e6","type":"function","z":"eb153369.5fdc5","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["8d6d2bae.c885c8"]]},{"id":"8f3ea002.02dcf","type":"inject","z":"eb153369.5fdc5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["29ac19e.e1229e6"]]},{"id":"d51c0b19.060d48","type":"inject","z":"eb153369.5fdc5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["f74fd50f.6f7e78"]]},{"id":"f74fd50f.6f7e78","type":"function","z":"eb153369.5fdc5","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["437886c3.131af8"]]},{"id":"437886c3.131af8","type":"debug","z":"eb153369.5fdc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":80,"wires":[]},{"id":"82fe866e.1020c8","type":"inject","z":"eb153369.5fdc5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":120,"wires":[["3d2865fa.1ee2fa"]]},{"id":"3d2865fa.1ee2fa","type":"function","z":"eb153369.5fdc5","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.104\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["cc3fa6e8.05f578"]]},{"id":"cc3fa6e8.05f578","type":"debug","z":"eb153369.5fdc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":120,"wires":[]}]
