darksky/weatherdata.flow
[{"id":"84408a36.5c40a8","type":"tab","label":"DarkSky","disabled":false,"info":""},{"id":"fa4acdc4.ec4f3","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["63985917.ecf4c8"]]},{"id":"63985917.ecf4c8","type":"function","z":"84408a36.5c40a8","name":"Set YOUR DaskSky APIKEY","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"WAPIKEY\",\"3bb84459e7c76e4c4d81cabe2e7448a0\")\nmsg.payload=\"Weather key set !\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["96e0d01e.cd2fa"]]},{"id":"96e0d01e.cd2fa","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":140,"wires":[]},{"id":"762f4307.3931dc","type":"http request","z":"84408a36.5c40a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":710,"y":260,"wires":[["2a8b8026.9ef8","9f4b1473.4150c8"]]},{"id":"62deab04.bfb214","type":"inject","z":"84408a36.5c40a8","name":"GetMyLocalWeather from DarkSky","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["b4dfd740.a78a68"]]},{"id":"b4dfd740.a78a68","type":"function","z":"84408a36.5c40a8","name":"get my local weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set your DarkSky api 1st\")\n\nmsg.url=\"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.6714,-79.404?exclude=minutely,hourly,daily,alerts,flags&units=auto\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["762f4307.3931dc"]]},{"id":"8cb08ab5.d68b28","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":320,"wires":[]},{"id":"2a8b8026.9ef8","type":"http response","z":"84408a36.5c40a8","name":"","statusCode":"","headers":{},"x":930,"y":260,"wires":[]},{"id":"9f4b1473.4150c8","type":"json","z":"84408a36.5c40a8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":320,"wires":[["8cb08ab5.d68b28","8b086faa.5af4c"]]},{"id":"b1ad0409.29e828","type":"comment","z":"84408a36.5c40a8","name":"darksky ","info":"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.674,-79.658?exclude=minutely,hourly,daily,alerts,flags&units=auto\n\nhttps://darksky.net/forecast/43.6714,-79.404/us12/en\n\nhttps://darksky.net/dev/account\n","x":90,"y":80,"wires":[]},{"id":"92837586.99de48","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["e356cd23.f879b"]]},{"id":"e356cd23.f879b","type":"function","z":"84408a36.5c40a8","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["34115c8c.55a894"]]},{"id":"34115c8c.55a894","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":180,"wires":[]},{"id":"8d2ace5d.72a4e","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["aca9756d.e27bc8"]]},{"id":"aca9756d.e27bc8","type":"function","z":"84408a36.5c40a8","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.23\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["55ca86e9.3c8fd8"]]},{"id":"55ca86e9.3c8fd8","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"77a10b7f.8cea94","type":"debug","z":"84408a36.5c40a8","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":380,"wires":[]},{"id":"8b086faa.5af4c","type":"function","z":"84408a36.5c40a8","name":"set  local Temperature","func":"node.warn(msg.payload.currently)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n*/\n\nmsg.payload.currently.mytime=Date.now()\n\nglobal.set(\"localtemp-ds\",msg.payload.currently.temperature)\n\nnode.warn(\"Annex temp = \"+global.get(\"localtemp-ds\"))\nmsg.payload.currently.mytemp=msg.payload.currently.temperature\nmsg.payload.currently.myhumidity=msg.payload.currently.humidity\nmsg.payload.currently.mypressure=msg.payload.currently.pressure\n\nglobal.set(\"localweather-ds\",msg.payload.currently);\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["77a10b7f.8cea94"]]},{"id":"e43dc431.457f58","type":"chromecast-play","z":"84408a36.5c40a8","name":"Say It","url":"","contentType":"","ip":"","x":930,"y":480,"wires":[[]]},{"id":"56e54a74.4ac744","type":"inject","z":"84408a36.5c40a8","name":"Cast a Hello Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":380,"y":480,"wires":[["8f81f87b.22dc88"]]},{"id":"8f81f87b.22dc88","type":"function","z":"84408a36.5c40a8","name":"Hello World","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString();\n     nowArray = time.split(':');\n     time = 'Hello World, It+is+now '+nowArray[0]+':'+nowArray[1];\n\n\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+time\n//url = 'https://translate.google.com/translate_tts?ie=UTF-8&q='+time+'&tl=en&total=1&idx=0&textlen='+time1.length+'&tk=955860.581808&client=t&prev=input&ttsspeed=1',\n  //   url = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=5&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["e43dc431.457f58"]]},{"id":"85bbbeba.39048","type":"function","z":"84408a36.5c40a8","name":"Broadcast local Temperature","func":"url = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Local temperature is now '+ global.get(\"localtemp-ds\") +\" degree's !\"\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["e43dc431.457f58"]]},{"id":"4614c499.16f9fc","type":"inject","z":"84408a36.5c40a8","name":"ChromeCastWeather","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":440,"wires":[["85bbbeba.39048"]]},{"id":"27a09dc8.f76bb2","type":"comment","z":"84408a36.5c40a8","name":"ChromeCast tts","info":"","x":140,"y":520,"wires":[]},{"id":"bb37691d.fdb1f8","type":"http request","z":"84408a36.5c40a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":650,"y":740,"wires":[["c49077d8.fef3e8"]]},{"id":"69b322a3.505ecc","type":"inject","z":"84408a36.5c40a8","name":"GetMyAirPortWeather","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["41428328.4c00fc"]]},{"id":"41428328.4c00fc","type":"function","z":"84408a36.5c40a8","name":"get my Airport weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you dark sky api 1st\")\n\nmsg.url=\"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.674,-79.675?exclude=minutely,hourly,daily,alerts,flags&units=auto\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["bb37691d.fdb1f8"]]},{"id":"c49077d8.fef3e8","type":"json","z":"84408a36.5c40a8","name":"","property":"payload","action":"","pretty":false,"x":630,"y":800,"wires":[["f73912e5.e0107","80960d66.fe4d5"]]},{"id":"f73912e5.e0107","type":"debug","z":"84408a36.5c40a8","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":800,"wires":[]},{"id":"80960d66.fe4d5","type":"function","z":"84408a36.5c40a8","name":"set  airport Temperature","func":"//node.warn(msg.payload)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n\n*/\n\nglobal.set(\"airporttemp-ds\",msg.payload.currently.temperature)\nnode.warn(\"Airport temp = \"+global.get(\"airporttemp-ds\"))\n\nmsg.payload.currently.myairporttemp=msg.payload.currently.temperature\nmsg.payload.currently.myphrase=msg.payload.currently.summary\ngust=msg.payload.currently.windGust\nif(gust==null)\ngust=msg.payload.currently.windSpeed\n\nmsg.payload.currently.mygust=gust\nmsg.payload.currently.mytime=Date.now()\nmsg.payload.currently.mytemp=msg.payload.currently.temperature\nmsg.payload.currently.myhumidity=msg.payload.currently.humidity\nmsg.payload.currently.mypressure=msg.payload.currently.pressure\nmsg.payload.currently.myfeel=msg.payload.currently.apparentTemperature\nmsg.payload.currently.mysummery=msg.payload.currently.summary\nglobal.set(\"airportweather-ds\",msg.payload.currently);\n\nmsg.payload=msg.payload.currently\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["63615087.b5ded","a07bedb0.0917c"]]},{"id":"a07bedb0.0917c","type":"function","z":"84408a36.5c40a8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = Math.round(global.get(\"airporttemp-ds\"))\nairportweather = global.get(\"airportweather-ds\")\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometer per hour. \"\nnode.warn(msg.payload )\n\nflow.set(\"weathertext\",msg.payload)\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+msg.payload \nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":630,"y":880,"wires":[["63615087.b5ded","d0fcb027.fbdc8"]]},{"id":"63615087.b5ded","type":"debug","z":"84408a36.5c40a8","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":840,"wires":[]},{"id":"d0fcb027.fbdc8","type":"chromecast-play","z":"84408a36.5c40a8","name":"Say It","url":"","contentType":"","ip":"","x":930,"y":880,"wires":[[]]},{"id":"1f48355a.8bcfcb","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":880,"wires":[["a07bedb0.0917c"]]},{"id":"4402b3a0.ae088c","type":"alexa-remote-routine","z":"84408a36.5c40a8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":960,"y":520,"wires":[[]]},{"id":"8abe3248.1e44e","type":"function","z":"84408a36.5c40a8","name":"Broadcast local Temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = global.get(\"airporttemp-ds\")\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees\"\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["4402b3a0.ae088c"]]},{"id":"3e8f8de1.2846f2","type":"inject","z":"84408a36.5c40a8","name":"Use Alexa to Boardcast","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":360,"y":520,"wires":[["8abe3248.1e44e"]]},{"id":"52ba5f8a.bcd05","type":"comment","z":"84408a36.5c40a8","name":"Alexa tts","info":"","x":120,"y":560,"wires":[]},{"id":"712725ae.113c7c","type":"alexa-remote-routine","z":"84408a36.5c40a8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":960,"y":920,"wires":[[]]},{"id":"9f5d4b31.271db8","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":320,"y":920,"wires":[["a267d757.cce1b8"]]},{"id":"a267d757.cce1b8","type":"function","z":"84408a36.5c40a8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = Math.round(global.get(\"airporttemp-ds\"))\nairportweather = global.get(\"airportweather-ds\")\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometer per hour. \"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":920,"wires":[["712725ae.113c7c"]]},{"id":"a972821b.240de","type":"inject","z":"84408a36.5c40a8","name":"TriggerHourly","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":380,"wires":[["b4dfd740.a78a68","41428328.4c00fc"]]},{"id":"6d1659ed.a6fba8","type":"comment","z":"84408a36.5c40a8","name":"Choose Alexa/Chrome or booth ","info":"","x":150,"y":840,"wires":[]},{"id":"3bbf5c1c.2fed14","type":"alexa-remote-init","z":"84408a36.5c40a8","name":"","account":"2d576b28.c67e64","option":"initialise","x":580,"y":580,"wires":[["9badd4fc.a2ed88"]]},{"id":"de0db7bb.d8f038","type":"inject","z":"84408a36.5c40a8","name":"","topic":"","payload":"alexa","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":580,"wires":[["3bbf5c1c.2fed14"]]},{"id":"9badd4fc.a2ed88","type":"change","z":"84408a36.5c40a8","name":"","rules":[{"t":"set","p":"alexa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":580,"wires":[["5f7de436.5bcd1c"]]},{"id":"5f7de436.5bcd1c","type":"debug","z":"84408a36.5c40a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":580,"wires":[]},{"id":"902d5ef2.da0e","type":"link in","z":"84408a36.5c40a8","name":"","links":["4c313e76.d458"],"x":355,"y":960,"wires":[["a267d757.cce1b8"]]},{"id":"2d576b28.c67e64","type":"alexa-remote-account","z":"","name":"New","authMethod":"proxy","proxyOwnIp":"10.0.4.23","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"}]
