wunderground/myhomepi.flow
[{"id":"2e23a186.3fdb7e","type":"tab","label":"DarkSky","disabled":false,"info":""},{"id":"51a91122.46564","type":"tab","label":"TTS","disabled":false,"info":""},{"id":"d9a6ed14.6d4b7","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ca43e2df.27b57","type":"tab","label":"IFTTT","disabled":false,"info":""},{"id":"9c3921f3.7a55d","type":"tab","label":"Wunderground","disabled":false,"info":""},{"id":"6fd086de.7cf858","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"5ec7fe0b.56595","type":"tab","label":"RiverBennett","disabled":false,"info":""},{"id":"cf8ef1ff.20719","type":"tab","label":"Florida","disabled":false,"info":""},{"id":"f319f13.6d6731","type":"ui_group","z":"","name":"Announce","tab":"46bf74f8.259e9c","order":1,"disp":true,"width":"2","collapse":false},{"id":"a43083f5.da42b","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"acffa496.1c3e28","type":"ui_group","z":"d9a6ed14.6d4b7","name":"Toronto Airport Weather","tab":"46bf74f8.259e9c","order":3,"disp":false,"width":"6","collapse":false},{"id":"91f6e1c9.cd2eb","type":"ui_group","z":"d9a6ed14.6d4b7","name":"Local Weather","tab":"46bf74f8.259e9c","order":2,"disp":false,"width":"6","collapse":false},{"id":"46bf74f8.259e9c","type":"ui_tab","z":"d9a6ed14.6d4b7","name":"Home","icon":"dashboard","order":1},{"id":"6e9fce01.85815","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa7ef1b7.6de13","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2964c640.02b9ea","type":"ibmiot","z":"","name":"FromIoDoorBellSpace","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"641850ae.b83a4","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"10.0.4.104","proxyPort":"3456","cookieFile":"","refreshInterval":"0.125","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"\"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:99.0) Gecko/20100101 Firefox/99.0\"","useWsMqtt":"on","autoInit":"off"},{"id":"e6de16af.179ff8","type":"ibmiot","z":"","name":"snp","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b98c897b.471fc8","type":"ui_group","z":"","name":"RiverBennett","tab":"a71fdde9.1b311","order":2,"disp":true,"width":"4","collapse":false},{"id":"2b771ce9.1fe254","type":"ui_group","z":"","name":"Date/Time","tab":"a71fdde9.1b311","order":1,"disp":true,"width":"8","collapse":false},{"id":"e8eabcf4.39d56","type":"ui_group","z":"","name":"DataPoints","tab":"a71fdde9.1b311","disp":true,"width":"4","collapse":false},{"id":"bb9460f0.57add","type":"ui_group","z":"","name":"Charts","tab":"a71fdde9.1b311","disp":true,"width":"10","collapse":false},{"id":"a71fdde9.1b311","type":"ui_tab","z":"","name":"RiverBennett","icon":"dashboard","order":3},{"id":"fac25a56.bab388","type":"inject","z":"2e23a186.3fdb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["3ccd4874.2ba598"]]},{"id":"3ccd4874.2ba598","type":"function","z":"2e23a186.3fdb7e","name":"Set YOUR DaskSky APIKEY","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"WAPIKEY\",\"3bb84459e7c76e4c4d81cabe2e7448a0\")\nmsg.payload=\"Weather key set !\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["be8350f1.59c06"]]},{"id":"be8350f1.59c06","type":"debug","z":"2e23a186.3fdb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":140,"wires":[]},{"id":"405e4984.dfc1c8","type":"http request","z":"2e23a186.3fdb7e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":710,"y":260,"wires":[["130a590c.cbf627","43218e08.ca6f"]]},{"id":"f986dc0e.bded2","type":"inject","z":"2e23a186.3fdb7e","name":"GetMyLocalWeather from DarkSky","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["c2c8aef6.5e06a"]]},{"id":"c2c8aef6.5e06a","type":"function","z":"2e23a186.3fdb7e","name":"get my local weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set your DarkSky api 1st\")\n//43.6686829,-79.3963467\nmsg.url=\"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.668,-79.396?exclude=minutely,hourly,daily,alerts,flags&units=auto\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["405e4984.dfc1c8"]]},{"id":"542d3cdf.727a24","type":"debug","z":"2e23a186.3fdb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":320,"wires":[]},{"id":"130a590c.cbf627","type":"http response","z":"2e23a186.3fdb7e","name":"","statusCode":"","headers":{},"x":930,"y":260,"wires":[]},{"id":"43218e08.ca6f","type":"json","z":"2e23a186.3fdb7e","name":"","property":"payload","action":"","pretty":false,"x":690,"y":320,"wires":[["542d3cdf.727a24","22a9848f.fd89ec"]]},{"id":"dcaf1cef.7cd13","type":"inject","z":"2e23a186.3fdb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["fc0be191.11b51"]]},{"id":"fc0be191.11b51","type":"function","z":"2e23a186.3fdb7e","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["fd84f5ba.42ac58"]]},{"id":"fd84f5ba.42ac58","type":"debug","z":"2e23a186.3fdb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":180,"wires":[]},{"id":"2c6a865c.9eba8a","type":"inject","z":"2e23a186.3fdb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["999d0691.4c9e08"]]},{"id":"999d0691.4c9e08","type":"function","z":"2e23a186.3fdb7e","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.104\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["81cb7068.f7898"]]},{"id":"81cb7068.f7898","type":"debug","z":"2e23a186.3fdb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"e4f2dff9.64573","type":"debug","z":"2e23a186.3fdb7e","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":380,"wires":[]},{"id":"22a9848f.fd89ec","type":"function","z":"2e23a186.3fdb7e","name":"set  local Temperature","func":"node.warn(msg.payload.currently)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n*/\n\nmsg.payload.currently.mytime=Date.now()\n\nglobal.set(\"localtemp-ds\",Math.round(msg.payload.currently.temperature))\n\nnode.warn(\"Annex temp = \"+global.get(\"localtemp-ds\"))\nmsg.payload.currently.mytemp=Math.round(msg.payload.currently.temperature)\nmsg.payload.currently.myhumidity=msg.payload.currently.humidity\nmsg.payload.currently.mypressure=msg.payload.currently.pressure\nmsg.payload.currently.mytemp=Math.round(msg.payload.currently.apparentTemperature)\nglobal.set(\"localweather-ds\",msg.payload.currently);\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["e4f2dff9.64573"]]},{"id":"945d60a4.78548","type":"chromecast-play","z":"2e23a186.3fdb7e","name":"Say It","url":"","contentType":"","ip":"","x":930,"y":480,"wires":[[]]},{"id":"2c528f36.200df","type":"inject","z":"2e23a186.3fdb7e","name":"Cast a Hello Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":380,"y":480,"wires":[["6f17edae.c1a474"]]},{"id":"6f17edae.c1a474","type":"function","z":"2e23a186.3fdb7e","name":"Hello World","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString();\n     nowArray = time.split(':');\n     time = 'Hello World, It+is+now '+nowArray[0]+':'+nowArray[1];\n\n\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+time\n//url = 'https://translate.google.com/translate_tts?ie=UTF-8&q='+time+'&tl=en&total=1&idx=0&textlen='+time1.length+'&tk=955860.581808&client=t&prev=input&ttsspeed=1',\n  //   url = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=5&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["945d60a4.78548"]]},{"id":"72f65863.f34028","type":"function","z":"2e23a186.3fdb7e","name":"Broadcast local Temperature","func":"url = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Local temperature is now '+ global.get(\"localtemp-ds\") +\" degree's !\"\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["945d60a4.78548"]]},{"id":"94fcfd12.a58f6","type":"inject","z":"2e23a186.3fdb7e","name":"ChromeCastWeather","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":440,"wires":[["72f65863.f34028"]]},{"id":"8781c0c3.8eab6","type":"comment","z":"2e23a186.3fdb7e","name":"ChromeCast tts","info":"","x":140,"y":520,"wires":[]},{"id":"a2308f62.f945c","type":"http request","z":"2e23a186.3fdb7e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":650,"y":740,"wires":[["8ec719f.2f16ee8"]]},{"id":"91dcb569.49f3b8","type":"inject","z":"2e23a186.3fdb7e","name":"GetMyAirPortWeather","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["762906a.1604cf8"]]},{"id":"762906a.1604cf8","type":"function","z":"2e23a186.3fdb7e","name":"get my Airport weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you dark sky api 1st\")\n//43.670,-79.439\nmsg.url=\"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.670,-79.439?exclude=minutely,hourly,daily,alerts,flags&units=auto\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["a2308f62.f945c"]]},{"id":"8ec719f.2f16ee8","type":"json","z":"2e23a186.3fdb7e","name":"","property":"payload","action":"","pretty":false,"x":630,"y":800,"wires":[["fc261f45.1d2bd","c07dde69.af17f"]]},{"id":"fc261f45.1d2bd","type":"debug","z":"2e23a186.3fdb7e","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":800,"wires":[]},{"id":"c07dde69.af17f","type":"function","z":"2e23a186.3fdb7e","name":"set  airport Temperature","func":"//node.warn(msg.payload)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n\n*/\n\nglobal.set(\"airporttemp-ds\",Math.round(msg.payload.currently.temperature))\nnode.warn(\"Airport temp = \"+global.get(\"airporttemp-ds\"))\n\nmsg.payload.currently.myairporttemp=msg.payload.currently.temperature\nmsg.payload.currently.myphrase=msg.payload.currently.summary\ngust=msg.payload.currently.windGust\nif(gust==null)\ngust=msg.payload.currently.windSpeed\n\nmsg.payload.currently.mygust=gust\nmsg.payload.currently.mytime=Date.now()\nmsg.payload.currently.mytemp=Math.round(msg.payload.currently.temperature)\nmsg.payload.currently.myhumidity=msg.payload.currently.humidity\nmsg.payload.currently.mypressure=msg.payload.currently.pressure\nmsg.payload.currently.myfeel=Math.round(msg.payload.currently.apparentTemperature)\nmsg.payload.currently.mysummery=msg.payload.currently.summary\nglobal.set(\"airportweather-ds\",msg.payload.currently);\n\nmsg.payload=msg.payload.currently\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["538375d8.7576bc"]]},{"id":"781a8a89.0a90e4","type":"function","z":"2e23a186.3fdb7e","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = Math.round(global.get(\"airporttemp-ds\"))\nairportweather = global.get(\"airportweather-ds\")\nairporttemp=airportweather.myfeel\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometers per hour. \"\nnode.warn(msg.payload )\n\nflow.set(\"weathertext\",msg.payload)\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+msg.payload \nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":630,"y":880,"wires":[["538375d8.7576bc","8fe28d49.66ed"]]},{"id":"538375d8.7576bc","type":"debug","z":"2e23a186.3fdb7e","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":840,"wires":[]},{"id":"8fe28d49.66ed","type":"chromecast-play","z":"2e23a186.3fdb7e","name":"Say It","url":"","contentType":"","ip":"","x":930,"y":880,"wires":[[]]},{"id":"a5553ef2.c3fbb","type":"inject","z":"2e23a186.3fdb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":880,"wires":[["781a8a89.0a90e4"]]},{"id":"d162181d.248998","type":"function","z":"2e23a186.3fdb7e","name":"Broadcast local Temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = global.get(\"airporttemp-ds\")\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees\"\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["7a4dbca2.79e714"]]},{"id":"abbada01.7e9b58","type":"inject","z":"2e23a186.3fdb7e","name":"Use Alexa to Boardcast","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":360,"y":520,"wires":[["d162181d.248998"]]},{"id":"7fbaac0b.44ebf4","type":"comment","z":"2e23a186.3fdb7e","name":"Alexa tts","info":"","x":120,"y":560,"wires":[]},{"id":"b861b4d9.0aefd8","type":"alexa-remote-routine","z":"2e23a186.3fdb7e","name":"","account":"641850ae.b83a4","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":960,"y":920,"wires":[[]]},{"id":"f867b27f.812b2","type":"inject","z":"2e23a186.3fdb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":320,"y":920,"wires":[["adae97db.a3b3e8"]]},{"id":"adae97db.a3b3e8","type":"function","z":"2e23a186.3fdb7e","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp-ds\"))\nairporttemp = Math.round(global.get(\"airporttemp-ds\"))\nairportweather = global.get(\"airportweather-ds\")\nairporttemp=airportweather.myfeel\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometers per hour. \"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":920,"wires":[["b861b4d9.0aefd8"]]},{"id":"f29f3f4e.b9c1","type":"inject","z":"2e23a186.3fdb7e","name":"TriggerHourly","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":380,"wires":[["c2c8aef6.5e06a","762906a.1604cf8"]]},{"id":"b279adda.dddc2","type":"comment","z":"2e23a186.3fdb7e","name":"Choose Alexa/Chrome or booth ","info":"","x":130,"y":820,"wires":[]},{"id":"e0e5af40.25556","type":"alexa-remote-init","z":"2e23a186.3fdb7e","name":"","account":"641850ae.b83a4","option":"initialise","x":580,"y":580,"wires":[["4049d27.0452c2c"]]},{"id":"77e5524b.7b0dec","type":"inject","z":"2e23a186.3fdb7e","name":"","topic":"","payload":"alexa","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":580,"wires":[["e0e5af40.25556"]]},{"id":"4049d27.0452c2c","type":"change","z":"2e23a186.3fdb7e","name":"","rules":[{"t":"set","p":"alexa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":580,"wires":[["4493d06f.9fba1"]]},{"id":"4493d06f.9fba1","type":"debug","z":"2e23a186.3fdb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":580,"wires":[]},{"id":"21d7dec3.5f8fc2","type":"link in","z":"2e23a186.3fdb7e","name":"AlexaSayIt","links":["8aa472a4.de2e5","446b10de.e10c8","c930ca05.8a0528"],"x":355,"y":960,"wires":[["adae97db.a3b3e8"]]},{"id":"7a4dbca2.79e714","type":"alexa-remote-routine","z":"2e23a186.3fdb7e","name":"","account":"641850ae.b83a4","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":960,"y":520,"wires":[[]]},{"id":"78ffae80.272f2","type":"watson-text-to-speech","z":"51a91122.46564","name":"Say it Watson","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/mp3","password":"4wHMFxPvalCp","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":600,"y":300,"wires":[["7dcba962.72ae78","41a80459.9fb99c"]]},{"id":"fa7c5e21.60226","type":"comment","z":"51a91122.46564","name":"Watson tts","info":"{\n  \"url\": \"https://stream.watsonplatform.net/text-to-speech/api\",\n  \"password\": \"4wHMFxPvalCp\",\n  \"username\": \"d0868abe-bde9-4458-a2e6-10fa33f89c96\"\n}","x":140,"y":60,"wires":[]},{"id":"c3d7aa82.e45f98","type":"function","z":"51a91122.46564","name":"Say local temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"Hello, Somebody is at the Door\"\n//node.warn(msg.payload )\ntxt='Local temperature is now '+ global.get(\"localtemp-ds\") +\" degree's !\"\nmsg.payload=txt\nnode.warn(msg.payload )\nreturn msg;\n\n","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["78ffae80.272f2"]]},{"id":"ee4586f.907bf78","type":"inject","z":"51a91122.46564","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["c3d7aa82.e45f98"]]},{"id":"7dcba962.72ae78","type":"debug","z":"51a91122.46564","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":300,"wires":[]},{"id":"c616516a.ad1d8","type":"chromecast-play","z":"51a91122.46564","name":"Say It","url":"","contentType":"","ip":"","x":630,"y":420,"wires":[["5cfe26ff.427b88"]]},{"id":"a0893e37.08ae8","type":"function","z":"51a91122.46564","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["c616516a.ad1d8"]]},{"id":"5cfe26ff.427b88","type":"debug","z":"51a91122.46564","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":420,"wires":[]},{"id":"41a80459.9fb99c","type":"function","z":"51a91122.46564","name":"Save Speech","func":"base = \"/tmp/cache_speech/sayit.mp3\";\nmsg.filename = base// + msg.file;\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["f2c9a7df.4c4dd8"]]},{"id":"f2c9a7df.4c4dd8","type":"file","z":"51a91122.46564","name":"SaveSpeech","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":610,"y":360,"wires":[["57c8a27f.0aa66c"]]},{"id":"3372f700.f2a718","type":"http in","z":"51a91122.46564","name":"","url":"/sayit","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["19e46bb1.a4d304"]]},{"id":"19e46bb1.a4d304","type":"file in","z":"51a91122.46564","name":"","filename":"/tmp/cache_speech/sayit.mp3","format":"","sendError":true,"x":390,"y":520,"wires":[["814ced58.337c6"]]},{"id":"814ced58.337c6","type":"change","z":"51a91122.46564","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":520,"wires":[["e9b54ce2.51579"]]},{"id":"e9b54ce2.51579","type":"http response","z":"51a91122.46564","name":"","x":810,"y":520,"wires":[]},{"id":"57c8a27f.0aa66c","type":"delay","z":"51a91122.46564","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":340,"wires":[["a0893e37.08ae8"]]},{"id":"5276f9d8.c419d8","type":"inject","z":"51a91122.46564","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["6774a2c6.2e82ac"]]},{"id":"6774a2c6.2e82ac","type":"function","z":"51a91122.46564","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = Math.round(global.get(\"airporttemp\"))\nairportweather = global.get(\"airportweather\")\nairporttemp=airportweather.myfeel\ncloudCoverPhrase=airportweather.myphrase\ngust=Math.round(airportweather.mygust)\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometers per hour. \"\nnode.warn(msg.payload )\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["78ffae80.272f2","b1cae9e7.1f31d8"]]},{"id":"97af4745.c25e38","type":"chromecast-play","z":"51a91122.46564","name":"TV","url":"","contentType":"","ip":"","x":630,"y":460,"wires":[[]]},{"id":"c998fa72.bd3678","type":"function","z":"51a91122.46564","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["97af4745.c25e38"]]},{"id":"857c2bb7.11f728","type":"inject","z":"51a91122.46564","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["c998fa72.bd3678"]]},{"id":"d3fcc93e.5c8088","type":"inject","z":"51a91122.46564","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":100,"wires":[["3c1528d5.efad28"]]},{"id":"3c1528d5.efad28","type":"function","z":"51a91122.46564","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["b06768bf.6d95e8"]]},{"id":"b06768bf.6d95e8","type":"debug","z":"51a91122.46564","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"1ee16b26.07f945","type":"inject","z":"51a91122.46564","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["5c43dde6.2ece94"]]},{"id":"5c43dde6.2ece94","type":"function","z":"51a91122.46564","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.104\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["b1cae9e7.1f31d8"]]},{"id":"b1cae9e7.1f31d8","type":"debug","z":"51a91122.46564","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":140,"wires":[]},{"id":"53cccf09.b6963","type":"debug","z":"d9a6ed14.6d4b7","name":"localweather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":200,"wires":[]},{"id":"6150e2e8.e5568c","type":"inject","z":"d9a6ed14.6d4b7","name":"localweather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":200,"wires":[["accb0cee.217d4"]]},{"id":"bb7ca714.05aa98","type":"comment","z":"d9a6ed14.6d4b7","name":"takeweather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":350,"y":140,"wires":[]},{"id":"accb0cee.217d4","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"\n/// any image \nmsg.payload = global.get(\"localweather-ds\")\n//if(msg.payload === undefined)\nmsg.payload = global.get(\"localweather\")\n\nmsg.payload.ImageUrl = \"http://opendata.toronto.ca/transportation/tmc/rescucameraimages/CameraImages/loc8046.jpg\"\n//http://opendata.toronto.ca/transportation/tmc/rescucameraimages/CameraImages/loc8045.jpg\n//msg.payload.ImageUrl =ImageUrl\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["53cccf09.b6963","2f0e1e23.76dea2","1c107b73.97b3f5","da1e460c.cc72f8","1a6de4c9.cd57fb","62f808ca.f36928","fe3b12e9.14eb"]]},{"id":"c68875a2.b922d8","type":"comment","z":"d9a6ed14.6d4b7","name":"Airport weather form global vars","info":"global.set(\"localweather\",msg.payload[0]);","x":330,"y":440,"wires":[]},{"id":"280c2485.76c58c","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"msg.payload = global.get(\"airportweather-twc\")\nmsg.payload = global.get(\"airportweather-ds\")\nif(msg.payload === undefined)\nmsg.payload = global.get(\"airportweather\")\n//msg.payload = global.get(\"airportweather\")\nmsg.ImageUrl=\"http://511on.ca/map/Cctv/loc35--2\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["3ec4ab91.c7a934","b130c4db.7d18c8","f4414435.968368","76a6281a.9dcf18","9279a3d.77bcc6","a4007f15.1ad3e","61c1cbbf.f65cd4","a1817aa9.48f4d8"]]},{"id":"f4414435.968368","type":"debug","z":"d9a6ed14.6d4b7","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":480,"wires":[]},{"id":"da1e460c.cc72f8","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temperature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["c0b7f537.59e398","970c33af.8cca7"]]},{"id":"a4007f15.1ad3e","type":"function","z":"d9a6ed14.6d4b7","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payloadold.mypressure\nmsg.topic=\"Pressure\"\nnode.send(msg)\n\nmsg.payload=msg.payloadold.mytemp\nmsg.topic=\"Temperature\"\nnode.send(msg)\nmsg.payload=msg.payloadold.myhumidity\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["65fe3ee9.03092","90df0832.7034b8"]]},{"id":"1a6de4c9.cd57fb","type":"function","z":"d9a6ed14.6d4b7","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["e7150f31.41f09"]]},{"id":"61c1cbbf.f65cd4","type":"function","z":"d9a6ed14.6d4b7","name":"Format Time","func":"var d = new Date(msg.payload.mytime)\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["d949f86f.1cea88"]]},{"id":"76a6281a.9dcf18","type":"ui_text","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","order":6,"width":0,"height":0,"name":"","label":"Cloudy","format":"{{msg.payload.cloudCoverPhrase}}","layout":"row-spread","x":700,"y":640,"wires":[]},{"id":"9279a3d.77bcc6","type":"ui_text","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","order":5,"width":0,"height":0,"name":"","label":"feels like","format":"{{msg.payload.temperatureWindChill}}","layout":"row-spread","x":700,"y":680,"wires":[]},{"id":"e7150f31.41f09","type":"ui_text","z":"d9a6ed14.6d4b7","group":"91f6e1c9.cd2eb","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":380,"wires":[]},{"id":"d949f86f.1cea88","type":"ui_text","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","order":2,"width":0,"height":0,"name":"","label":"Time ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":760,"wires":[]},{"id":"2f0e1e23.76dea2","type":"ui_gauge","z":"d9a6ed14.6d4b7","name":"Annex Temperature","group":"91f6e1c9.cd2eb","order":1,"width":0,"height":0,"gtype":"gage","title":"Annex Temperature","label":"units","format":"{{msg.payload.mytemp}}","min":"-30","max":"30","colors":["#5507b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":240,"wires":[]},{"id":"3ec4ab91.c7a934","type":"ui_gauge","z":"d9a6ed14.6d4b7","name":"Airport Temperature","group":"acffa496.1c3e28","order":1,"width":0,"height":0,"gtype":"gage","title":"Airport Temperature","label":"units","format":"{{msg.payload.myfeel}}","min":"-30","max":"30","colors":["#5b08b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":540,"wires":[]},{"id":"65fe3ee9.03092","type":"ui_chart","z":"d9a6ed14.6d4b7","name":"","group":"acffa496.1c3e28","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":720,"wires":[[]]},{"id":"c0b7f537.59e398","type":"ui_chart","z":"d9a6ed14.6d4b7","name":"","group":"91f6e1c9.cd2eb","order":4,"width":0,"height":0,"label":"Pres/Hum/Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":320,"wires":[[]]},{"id":"1c107b73.97b3f5","type":"ui_template","z":"d9a6ed14.6d4b7","group":"91f6e1c9.cd2eb","name":"Balconey","order":3,"width":"6","height":"4","format":"\n<img src=  {{msg.payload.ImageUrl}} alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":280,"wires":[[]]},{"id":"b130c4db.7d18c8","type":"ui_template","z":"d9a6ed14.6d4b7","group":"acffa496.1c3e28","name":"Airport","order":3,"width":"6","height":"4","format":"<img src=\"http://511on.ca/map/Cctv/loc35--2\" alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":600,"wires":[[]]},{"id":"a74f7215.37e69","type":"http request","z":"d9a6ed14.6d4b7","name":"Annex Weather","method":"GET","ret":"obj","url":"https://api.bloomsky.com/api/skydata/?unit=intl","tls":"","x":720,"y":40,"wires":[["827e4a82.8c3498","31e51805.617388"]]},{"id":"1c11a30.7b8ec5d","type":"inject","z":"d9a6ed14.6d4b7","name":"GetLocalTemp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":220,"y":80,"wires":[[]]},{"id":"5813bbfd.e2ed44","type":"function","z":"d9a6ed14.6d4b7","name":"ApiKey","func":"     msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"YOUR PWS KEy\"\n     }\nreturn msg","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["a74f7215.37e69"]]},{"id":"6bbf1665.6f7778","type":"debug","z":"d9a6ed14.6d4b7","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":80,"wires":[]},{"id":"31e51805.617388","type":"function","z":"d9a6ed14.6d4b7","name":"set url bloomsky image url","func":"//msg.payload = global.get(\"localweather\")\nlocalweather=global.get(\"localweather\");\nnode.warn(localweather)\nlocalweather.ImageUrl = msg.payload[0].Data.ImageURL\n//msg.payload.ImageUrl = \"http://s3-us-west-1.amazonaws.com/bskyimgs/gqBxp6apnJSnq563qJ1lrZqnm5armp0=.jpg\"\nglobal.set(\"localweather\",localweather);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["6bbf1665.6f7778"]]},{"id":"d29ea711.b669f8","type":"comment","z":"d9a6ed14.6d4b7","name":"getmy local weather image","info":"","x":210,"y":40,"wires":[]},{"id":"57af556a.51888c","type":"comment","z":"d9a6ed14.6d4b7","name":"Display an Image","info":"Your choice of image","x":900,"y":280,"wires":[]},{"id":"d9fdf8b9.be9298","type":"comment","z":"d9a6ed14.6d4b7","name":"Display an Image","info":"Your choice of image ... most airport have public cameras","x":880,"y":600,"wires":[]},{"id":"599d35b0.46218c","type":"comment","z":"d9a6ed14.6d4b7","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":240,"wires":[]},{"id":"d042f0a0.74b83","type":"comment","z":"d9a6ed14.6d4b7","name":"Adjust the Function WU,DS,TWC --> ","info":"","x":220,"y":540,"wires":[]},{"id":"90df0832.7034b8","type":"debug","z":"d9a6ed14.6d4b7","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":800,"wires":[]},{"id":"970c33af.8cca7","type":"debug","z":"d9a6ed14.6d4b7","name":"Test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":420,"wires":[]},{"id":"62f808ca.f36928","type":"ibmiot out","z":"d9a6ed14.6d4b7","authentication":"apiKey","apiKey":"a43083f5.da42b","outputType":"evt","deviceId":"annexweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":320,"wires":[]},{"id":"a1817aa9.48f4d8","type":"ibmiot out","z":"d9a6ed14.6d4b7","authentication":"apiKey","apiKey":"a43083f5.da42b","outputType":"evt","deviceId":"yyzweather","deviceType":"homepi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"to IBM IoT","service":"registered","x":290,"y":600,"wires":[]},{"id":"827e4a82.8c3498","type":"debug","z":"d9a6ed14.6d4b7","name":"pws image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":40,"wires":[]},{"id":"e1f2b784.393a28","type":"inject","z":"d9a6ed14.6d4b7","name":"AirportWeather","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":280,"y":500,"wires":[["280c2485.76c58c"]]},{"id":"92d69c05.f0432","type":"ui_button","z":"d9a6ed14.6d4b7","name":"","group":"f319f13.6d6731","order":4,"width":0,"height":0,"passthru":false,"label":"Alexa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":380,"wires":[["8aa472a4.de2e5"]]},{"id":"8aa472a4.de2e5","type":"link out","z":"d9a6ed14.6d4b7","name":"Alexa","links":["21d7dec3.5f8fc2","8ab90486.25bac8"],"x":375,"y":380,"wires":[]},{"id":"f0f99015.53b0b","type":"ui_button","z":"d9a6ed14.6d4b7","name":"","group":"f319f13.6d6731","order":4,"width":0,"height":0,"passthru":false,"label":"Google","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":680,"wires":[["ad5c98a5.2a0928"]]},{"id":"ad5c98a5.2a0928","type":"link out","z":"d9a6ed14.6d4b7","name":"Google","links":["4020bb76.dee544","7e15f3eb.93053c"],"x":335,"y":680,"wires":[]},{"id":"4020bb76.dee544","type":"link in","z":"2e23a186.3fdb7e","name":"GoogleSayit","links":["ad5c98a5.2a0928"],"x":355,"y":840,"wires":[["781a8a89.0a90e4"]]},{"id":"bd6eede7.6bbb8","type":"link out","z":"d9a6ed14.6d4b7","name":"AlexaManualAsk","links":["902d5ef2.da0e","8ab90486.25bac8","7e15f3eb.93053c"],"x":1255,"y":80,"wires":[]},{"id":"2c434871.1bf0d8","type":"debug","z":"ca43e2df.27b57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":100,"wires":[]},{"id":"ba06057e.890d48","type":"ibmiot in","z":"ca43e2df.27b57","authentication":"apiKey","apiKey":"2964c640.02b9ea","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FromIotiftt","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":100,"wires":[["2c434871.1bf0d8","5ffe9594.17288c"]]},{"id":"5ffe9594.17288c","type":"switch","z":"ca43e2df.27b57","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"alexaweather","vt":"str"},{"t":"eq","v":"googleweather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":180,"wires":[["74872b23.8b0b14"],["7b242359.0ce77c"],[]]},{"id":"74872b23.8b0b14","type":"function","z":"ca43e2df.27b57","name":"FromAlexaTriggerWeather","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["446b10de.e10c8"]]},{"id":"446b10de.e10c8","type":"link out","z":"ca43e2df.27b57","name":"AlexaManualAsk","links":["21d7dec3.5f8fc2","8ab90486.25bac8","7e15f3eb.93053c"],"x":735,"y":160,"wires":[]},{"id":"bc2f44a9.b66bf8","type":"comment","z":"ca43e2df.27b57","name":"iot creds","info":"a-ozwj4n-htosn24bck\ntocken\niXAP2n-jrmPc?vUoJJ","x":140,"y":60,"wires":[]},{"id":"7b242359.0ce77c","type":"function","z":"ca43e2df.27b57","name":"FromGroogleTriggerWeather","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["c930ca05.8a0528"]]},{"id":"c930ca05.8a0528","type":"link out","z":"ca43e2df.27b57","name":"GoogleManualAsk","links":["21d7dec3.5f8fc2","8ab90486.25bac8","7e15f3eb.93053c"],"x":735,"y":200,"wires":[]},{"id":"dcda1870.17fb68","type":"ui_text","z":"d9a6ed14.6d4b7","group":"91f6e1c9.cd2eb","order":5,"width":0,"height":0,"name":"","label":"IpAddresses","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":140,"wires":[]},{"id":"fe3b12e9.14eb","type":"function","z":"d9a6ed14.6d4b7","name":"IP Addresses","func":"msg.payload = \"WLAN=\"+global.get(\"wlanip\") +\"\\n Ethernet:\"+global.get(\"ethnetip\")\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["dcda1870.17fb68"]]},{"id":"5fd9a9af.44d268","type":"exec","z":"d9a6ed14.6d4b7","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ifconfig","x":480,"y":960,"wires":[["d755bdb8.8bc9b","1e88683d.3fd2c8","795c3f60.d43af"],[],[]]},{"id":"344d9314.7254dc","type":"inject","z":"d9a6ed14.6d4b7","name":"get ip - eth0","topic":"Node-Red IP Address","payload":"eth0","payloadType":"str","repeat":"","crontab":"","once":true,"x":328,"y":959.5,"wires":[["5fd9a9af.44d268"]]},{"id":"3f29a4aa.3c2dfc","type":"comment","z":"d9a6ed14.6d4b7","name":"Raspberry / Linux Example","info":"","x":345.9999771118164,"y":916.9999856948853,"wires":[]},{"id":"d755bdb8.8bc9b","type":"function","z":"d9a6ed14.6d4b7","name":"Extract network config","func":"// Initialize variables\nvar input, tokens, inet, bcast, mask;\nvar outString = \"TestRasPi network config for wlan0\\n\";\n\n// Parse the entire string by spaces, and put each item into an array called tokens\n\ninput = msg.payload;\ntokenswlan = input.split(\"wlan0\")[1];\ntokenseth  = input.split(\"eth0\")[0];\n//node.warn(tokenswlan)\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\ninet = tokenswlan.split(\"inet addr:\")[1];\ninet = inet.split(\"Bcast:\")[0];\noutString += \"\\n\" + \"inet addr: \" + inet;\nnode.warn(inet)\nglobal.set(\"wlanip\",inet)\nreturn {payload: outString};\n","outputs":1,"noerr":0,"x":340,"y":1020,"wires":[["d7f2f87f.4537c8"]]},{"id":"d7f2f87f.4537c8","type":"debug","z":"d9a6ed14.6d4b7","name":"wlan0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":1020,"wires":[]},{"id":"1e88683d.3fd2c8","type":"debug","z":"d9a6ed14.6d4b7","name":"test out","active":false,"console":"false","complete":"payload","x":700,"y":940,"wires":[]},{"id":"795c3f60.d43af","type":"function","z":"d9a6ed14.6d4b7","name":"Extract network config","func":"// Initialize variables\nvar input, tokens, inet, bcast, mask;\nvar outString = \"TestRasPi network config for ethnetip\\n\";\n\n// Parse the entire string by spaces, and put each item into an array called tokens\n\ninput = msg.payload;\ntokenswlan = input.split(\"eth0\")[1];\n\nnode.warn(tokenswlan)\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\ninet = tokenswlan.split(\"inet addr:\")[1];\n\nif(inet.includes(\"Bcast\"))\n{\ninet = inet.split(\"Bcast:\")[0];\nnode.warn(inet);\n}else{\n    inet=\"None\";\n}\noutString += \"\\n\" + \"inet addr: \" + inet;\nglobal.set(\"ethnetip\",inet)\nreturn {payload: outString};\n","outputs":1,"noerr":0,"x":340,"y":1060,"wires":[["c96d6f5d.a8aa7"]]},{"id":"c96d6f5d.a8aa7","type":"debug","z":"d9a6ed14.6d4b7","name":"ethnetip","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":1060,"wires":[]},{"id":"1e73e801.c1ca08","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":240,"wires":[["5790c7ad.e86db8"]]},{"id":"5790c7ad.e86db8","type":"function","z":"9c3921f3.7a55d","name":"Set YOUR WeatherUnderGroundAPIKEY","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"WAPIKEY\",\"cd9345030afd47e69345030afde7e6a9\")\nmsg.payload=\"Weather key set !\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["7fb0e06d.28256"]]},{"id":"7fb0e06d.28256","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":240,"wires":[]},{"id":"3565483b.559298","type":"http request","z":"9c3921f3.7a55d","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":730,"y":360,"wires":[["354cf4cb.e7f31c","14114e96.81b9b1"]]},{"id":"f06788c.98e4f78","type":"inject","z":"9c3921f3.7a55d","name":"GetMyPWSWeather","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":360,"wires":[["3b550c03.30edf4"]]},{"id":"3b550c03.30edf4","type":"function","z":"9c3921f3.7a55d","name":"get my local weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you weatherunderground api 1st\")\n\nmsg.url=\"https://api.weather.com/v2/pws/observations/current?stationId=ITORONTO277&format=json&units=m&apiKey=\"+myapikey\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["3565483b.559298"]]},{"id":"6b9770c0.1ca4b","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":420,"wires":[]},{"id":"354cf4cb.e7f31c","type":"http response","z":"9c3921f3.7a55d","name":"","statusCode":"","headers":{},"x":910,"y":360,"wires":[]},{"id":"14114e96.81b9b1","type":"json","z":"9c3921f3.7a55d","name":"","property":"payload","action":"","pretty":false,"x":710,"y":420,"wires":[["6b9770c0.1ca4b","ea6ffe0c.30c43"]]},{"id":"d536147b.3f9ac8","type":"debug","z":"9c3921f3.7a55d","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":520,"wires":[]},{"id":"ea6ffe0c.30c43","type":"function","z":"9c3921f3.7a55d","name":"set  local Temperature","func":"node.warn(msg.payload.observations[0])\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n\n*/\n\nglobal.set(\"localtemp\",Math.round(msg.payload.observations[0].metric.temp) )\nnode.warn(\"Annex temp = \"+global.get(\"localtemp\"))\n\nmsg.payload.observations[0].metric.mytemp =Math.round(msg.payload.observations[0].metric.temp)\nmsg.payload.observations[0].metric.mytime=Date.now()\nmsg.payload.observations[0].metric.myhumidity=msg.payload.observations[0].humidity\nmsg.payload.observations[0].metric.mypressure=msg.payload.observations[0].metric.pressure\nglobal.set(\"localweather\",msg.payload.observations[0].metric);\nmsg.payload=msg.payload.observations[0].metric\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":520,"wires":[["d536147b.3f9ac8"]]},{"id":"38993fcd.43c3d","type":"chromecast-play","z":"9c3921f3.7a55d","name":"Say It","url":"","contentType":"","ip":"","x":1030,"y":620,"wires":[[]]},{"id":"e8cbe063.ec1fc","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":500,"y":620,"wires":[["49d6cc46.768cc4"]]},{"id":"49d6cc46.768cc4","type":"function","z":"9c3921f3.7a55d","name":"Hello","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString();\n     nowArray = time.split(':');\n     time = 'It%20is%20now%20'+nowArray[0]+':'+nowArray[1];\n    time1 = 'It is now '+nowArray[0]+':'+nowArray[1];\n //   url:'https://translate.google.com/translate_tts?ie=UTF-8&q=It%20is%20now'+time+'&tl=en&total=1&idx=0&textlen=15&tk=993823.614268&client=t&prev=input&ttsspeed=1',\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&q=It%20is%20now%2012%2003&tl=en&total=1&idx=0&textlen=15&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=15&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello+Markus&tl=en&total=1&idx=0&textlen=5&tk=562021.976405&client=t&prev=input&ttsspeed=1'\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Hello+World'\n//url = 'https://translate.google.com/translate_tts?ie=UTF-8&q='+time+'&tl=en&total=1&idx=0&textlen='+time1.length+'&tk=955860.581808&client=t&prev=input&ttsspeed=1',\n  //   url = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=5&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":620,"wires":[["38993fcd.43c3d"]]},{"id":"6fae0f9d.f7383","type":"function","z":"9c3921f3.7a55d","name":"Broadcast local Temperature","func":"url = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["38993fcd.43c3d"]]},{"id":"333f6c2b.5c3a34","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":500,"y":580,"wires":[["6fae0f9d.f7383"]]},{"id":"eee79364.fed59","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":280,"wires":[["3441a7d3.fe2ae8"]]},{"id":"3441a7d3.fe2ae8","type":"function","z":"9c3921f3.7a55d","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["1eb3fb7.98e1705"]]},{"id":"1eb3fb7.98e1705","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"a4d2d256.cf13b","type":"alexa-remote-routine","z":"9c3921f3.7a55d","name":"","account":"641850ae.b83a4","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":800,"y":1140,"wires":[["5cb0432b.5bdb6c"]]},{"id":"5794b4fb.34c07c","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1140,"wires":[["93bb7ac3.b63d38"]]},{"id":"9e78d6da.df1aa8","type":"function","z":"9c3921f3.7a55d","name":"Broadcast local Temperature","func":"txt='Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload=txt\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":1140,"wires":[["a4d2d256.cf13b"]]},{"id":"5cb0432b.5bdb6c","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":1140,"wires":[]},{"id":"ce1d9019.dcaba","type":"comment","z":"9c3921f3.7a55d","name":"Alexa tts","info":"","x":220,"y":1020,"wires":[]},{"id":"d3ec5c82.afa14","type":"comment","z":"9c3921f3.7a55d","name":"ChromeCast tts","info":"","x":280,"y":540,"wires":[]},{"id":"3f5e7e46.2019a2","type":"watson-text-to-speech","z":"9c3921f3.7a55d","name":"Say it Watson","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/mp3","password":"4wHMFxPvalCp","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":680,"y":1300,"wires":[["c36a1bda.793f78","4212c3ee.f3111c"]]},{"id":"70885d8.6e99fa4","type":"comment","z":"9c3921f3.7a55d","name":"Watson tts","info":"{\n  \"url\": \"https://stream.watsonplatform.net/text-to-speech/api\",\n  \"password\": \"4wHMFxPvalCp\",\n  \"username\": \"d0868abe-bde9-4458-a2e6-10fa33f89c96\"\n}","x":220,"y":1220,"wires":[]},{"id":"14b471.8492db8f","type":"function","z":"9c3921f3.7a55d","name":"Say local temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"Hello, Somebody is at the Door\"\n//node.warn(msg.payload )\ntxt='Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload=txt\nnode.warn(msg.payload )\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":1300,"wires":[["3f5e7e46.2019a2"]]},{"id":"2e60ec53.cb5c04","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1300,"wires":[["14b471.8492db8f"]]},{"id":"c36a1bda.793f78","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1300,"wires":[]},{"id":"3c9207a3.f47b28","type":"chromecast-play","z":"9c3921f3.7a55d","name":"Say It","url":"","contentType":"","ip":"","x":710,"y":1420,"wires":[["9d1b1b13.96ef88"]]},{"id":"281313b0.aecd2c","type":"function","z":"9c3921f3.7a55d","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1420,"wires":[["3c9207a3.f47b28"]]},{"id":"9d1b1b13.96ef88","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1420,"wires":[]},{"id":"4212c3ee.f3111c","type":"function","z":"9c3921f3.7a55d","name":"Save Speech","func":"base = \"/tmp/cache_speech/sayit.mp3\";\nmsg.filename = base// + msg.file;\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1360,"wires":[["2cf061e8.c6bcae"]]},{"id":"2cf061e8.c6bcae","type":"file","z":"9c3921f3.7a55d","name":"SaveSpeech","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":690,"y":1360,"wires":[["52ea8588.66b36c"]]},{"id":"ca82dd.4f64cd2","type":"http in","z":"9c3921f3.7a55d","name":"","url":"/sayit","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1520,"wires":[["df5aede6.e0d69"]]},{"id":"df5aede6.e0d69","type":"file in","z":"9c3921f3.7a55d","name":"","filename":"/tmp/cache_speech/sayit.mp3","format":"","sendError":true,"x":470,"y":1520,"wires":[["7c626348.68649c"]]},{"id":"7c626348.68649c","type":"change","z":"9c3921f3.7a55d","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1520,"wires":[["ed54609c.ec2b1"]]},{"id":"ed54609c.ec2b1","type":"http response","z":"9c3921f3.7a55d","name":"","x":890,"y":1520,"wires":[]},{"id":"52ea8588.66b36c","type":"delay","z":"9c3921f3.7a55d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1340,"wires":[["281313b0.aecd2c"]]},{"id":"3e5cef04.864eb","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":320,"wires":[["7bbf2e2e.9726c"]]},{"id":"7bbf2e2e.9726c","type":"function","z":"9c3921f3.7a55d","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.23\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["89a0d198.fcc3e"]]},{"id":"89a0d198.fcc3e","type":"debug","z":"9c3921f3.7a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"93bb7ac3.b63d38","type":"function","z":"9c3921f3.7a55d","name":"Time  and temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\n\nlocaltemp = global.get(\"localtemp\")\n\n\nmsg.payload = msg.payload + \", the Local temperature is \"+localtemp+\" degrees !\"//, Airport temperature is \" + airport + \", and \"+msg.observation.wx_phrase + \"\nnode.warn(msg.payload )\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1180,"wires":[["a4d2d256.cf13b"]]},{"id":"d0055b94.6df668","type":"alexa-remote-init","z":"9c3921f3.7a55d","name":"","account":"641850ae.b83a4","option":"fresh","x":420,"y":1080,"wires":[["32757a2f.637766","4e0ed69f.7f8c68"]]},{"id":"f53ac56d.1450d8","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"alexa","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1080,"wires":[["d0055b94.6df668"]]},{"id":"32757a2f.637766","type":"change","z":"9c3921f3.7a55d","name":"","rules":[{"t":"set","p":"alexa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1080,"wires":[["de127a32.dd3b38"]]},{"id":"de127a32.dd3b38","type":"debug","z":"9c3921f3.7a55d","name":"mvk2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1080,"wires":[]},{"id":"16dcaff6.60d72","type":"http request","z":"9c3921f3.7a55d","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":810,"y":780,"wires":[["9037cc9e.d6ad8"]]},{"id":"daf1f224.a3951","type":"inject","z":"9c3921f3.7a55d","name":"GetMyAirPortWeather","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":780,"wires":[["5f52394.aa3b9c8"]]},{"id":"5f52394.aa3b9c8","type":"function","z":"9c3921f3.7a55d","name":"get my Airport weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you weatherunderground api 1st\")\n\nmsg.url=\"https://api.weather.com/v3/wx/observations/current?geocode=43.674%2C-79.658&units=m&language=en-US&format=json&apiKey=\"+myapikey\nmsg.url=\"https://api.weather.com/v3/wx/observations/current?apiKey=6532d6454b8aa370768e63d6ba5a832e&geocode=43.674%2C-79.658&units=m&language=en-US&format=json\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":780,"wires":[["16dcaff6.60d72"]]},{"id":"9037cc9e.d6ad8","type":"json","z":"9c3921f3.7a55d","name":"","property":"payload","action":"","pretty":false,"x":790,"y":840,"wires":[["cd5104b1.59f1e8","4483be34.862d7"]]},{"id":"cd5104b1.59f1e8","type":"debug","z":"9c3921f3.7a55d","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":840,"wires":[]},{"id":"4483be34.862d7","type":"function","z":"9c3921f3.7a55d","name":"set  airport Temperature","func":"//node.warn(msg.payload)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n*/\n\nglobal.set(\"airporttemp\",msg.payload.temperature)\nnode.warn(\"Airport temp = \"+global.get(\"airporttemp\"))\nmsg.payload.myairporttemp=msg.payload.temperature\nmsg.payload.myphrase=msg.payload.cloudCoverPhrase\nmsg.payload.mytime=Date.now()\n\ngust=msg.payload.windGust\nif(gust==null)\ngust=msg.payload.windSpeed\n\nmsg.payload.mygust=gust\n\nmsg.payload.mytemp = msg.payload.temperature\nmsg.payload.mytime=Date.now()\n\nmsg.payload.myhumidity=msg.payload.relativeHumidity\nmsg.payload.mypressure=msg.payload.pressureAltimeter\nmsg.payload.mysummery=msg.payload.cloudCoverPhrase\nmsg.payload.myfeel=msg.payload.temperatureFeelsLike\n\nglobal.set(\"airportweather\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["86104664.3d0a78"]]},{"id":"f3722ef5.4e2ee","type":"function","z":"9c3921f3.7a55d","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = Math.round(global.get(\"airporttemp\"))\nairporttemp = Math.round(global.get(\"airportweather\").myfeel)\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and its \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometers per hour. \"\nnode.warn(msg.payload )\n\nflow.set(\"weathertext\",msg.payload)\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+msg.payload \nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":920,"wires":[["86104664.3d0a78","22fdc6b0.1c2b8a"]]},{"id":"86104664.3d0a78","type":"debug","z":"9c3921f3.7a55d","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1080,"y":880,"wires":[]},{"id":"22fdc6b0.1c2b8a","type":"chromecast-play","z":"9c3921f3.7a55d","name":"Say It","url":"","contentType":"","ip":"","x":1050,"y":920,"wires":[[]]},{"id":"26389f06.8462c","type":"alexa-remote-routine","z":"9c3921f3.7a55d","name":"","account":"641850ae.b83a4","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":1080,"y":960,"wires":[[]]},{"id":"ad826152.e0f2c","type":"function","z":"9c3921f3.7a55d","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = Math.round(global.get(\"airporttemp\"))\nairporttemp = Math.round(global.get(\"airportweather\").myfeel)\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and its \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometers per hour.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":960,"wires":[["26389f06.8462c"]]},{"id":"ff3628e9.19f068","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":380,"y":960,"wires":[["ad826152.e0f2c"]]},{"id":"663a2416.45c82c","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1260,"wires":[["ea51643f.77b118"]]},{"id":"ea51643f.77b118","type":"function","z":"9c3921f3.7a55d","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = global.get(\"airporttemp\")\nairporttemp = Math.round(global.get(\"airportweather\").myfeel)\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and its \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" km/h.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":1260,"wires":[["3f5e7e46.2019a2"]]},{"id":"50c963b9.f401cc","type":"chromecast-play","z":"9c3921f3.7a55d","name":"TV","url":"","contentType":"","ip":"","x":710,"y":1460,"wires":[[]]},{"id":"47b6a5fb.16479c","type":"function","z":"9c3921f3.7a55d","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1460,"wires":[["50c963b9.f401cc"]]},{"id":"4062b8ae.fa87c8","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1460,"wires":[["47b6a5fb.16479c"]]},{"id":"27b42841.98b9a8","type":"alexa-remote-routine","z":"9c3921f3.7a55d","name":"","account":"641850ae.b83a4","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":1080,"y":660,"wires":[[]]},{"id":"3bf4e6b9.08967a","type":"function","z":"9c3921f3.7a55d","name":"Broadcast local Temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = global.get(\"airporttemp\")\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees\"\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":660,"wires":[["27b42841.98b9a8"]]},{"id":"72a7dade.5b8c34","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":500,"y":660,"wires":[["3bf4e6b9.08967a"]]},{"id":"46d6c81f.c4cac8","type":"inject","z":"9c3921f3.7a55d","name":"hourly","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":640,"wires":[["f3722ef5.4e2ee"]]},{"id":"dcc861d1.960a1","type":"chromecast-play","z":"9c3921f3.7a55d","name":"TV","url":"","contentType":"","ip":"","x":690,"y":1600,"wires":[[]]},{"id":"c1a66cb7.af6a1","type":"function","z":"9c3921f3.7a55d","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/ui\",\n    contentType: 'text/HTML'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":1600,"wires":[["dcc861d1.960a1"]]},{"id":"b63e9756.eaeac8","type":"inject","z":"9c3921f3.7a55d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1600,"wires":[["c1a66cb7.af6a1"]]},{"id":"7e5fce14.0fbc5","type":"comment","z":"9c3921f3.7a55d","name":"IOT-Creds - DoorBell homepi","info":"tocken:oKzP_pVB(wG_rZUBUj\nkey:a-ozwj4n-lzrdgqvga9","x":1000,"y":140,"wires":[]},{"id":"8ab90486.25bac8","type":"link in","z":"9c3921f3.7a55d","name":"WunderGroundAlexa","links":["446b10de.e10c8","8aa472a4.de2e5","bd6eede7.6bbb8","c930ca05.8a0528"],"x":475,"y":1000,"wires":[["ad826152.e0f2c"]]},{"id":"7e15f3eb.93053c","type":"link in","z":"9c3921f3.7a55d","name":"WunderGroundGoolge","links":["446b10de.e10c8","ad5c98a5.2a0928","bd6eede7.6bbb8","c930ca05.8a0528"],"x":495,"y":900,"wires":[["f3722ef5.4e2ee"]]},{"id":"2a3fa81b.1f5228","type":"comment","z":"ca43e2df.27b57","name":"What to Say","info":"","x":110,"y":260,"wires":[]},{"id":"4e0ed69f.7f8c68","type":"debug","z":"9c3921f3.7a55d","name":"mvk1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":1040,"wires":[]},{"id":"e5deadfe.8423b","type":"alexa-remote-init","z":"6fd086de.7cf858","name":"","account":"641850ae.b83a4","option":"fresh","x":240,"y":160,"wires":[["5244bbf1.b75a54"]]},{"id":"5244bbf1.b75a54","type":"debug","z":"6fd086de.7cf858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":160,"wires":[]},{"id":"620033e5.5b202c","type":"inject","z":"6fd086de.7cf858","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["e5deadfe.8423b"]]},{"id":"1820bc9f.2c2193","type":"alexa-remote-init","z":"6fd086de.7cf858","name":"","account":"641850ae.b83a4","option":"initialise","x":340,"y":400,"wires":[["7e57a4b8.980cbc"]]},{"id":"851e9cc0.1c874","type":"inject","z":"6fd086de.7cf858","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["1820bc9f.2c2193"]]},{"id":"7e57a4b8.980cbc","type":"debug","z":"6fd086de.7cf858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":400,"wires":[]},{"id":"11ffac51.f6d6b4","type":"alexa-remote-init","z":"6fd086de.7cf858","name":"","account":"641850ae.b83a4","option":"update","x":380,"y":480,"wires":[["7e57a4b8.980cbc"]]},{"id":"baba8667.c4dc98","type":"inject","z":"6fd086de.7cf858","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["11ffac51.f6d6b4"]]},{"id":"c6dea9bb.03c3e8","type":"ui_button","z":"d9a6ed14.6d4b7","name":"","group":"f319f13.6d6731","order":4,"width":0,"height":0,"passthru":false,"label":"Watson","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":760,"wires":[["41f2e73d.db90e8"]]},{"id":"41f2e73d.db90e8","type":"link out","z":"d9a6ed14.6d4b7","name":"Watson","links":["c4bebaed.281ee8"],"x":335,"y":760,"wires":[]},{"id":"c4bebaed.281ee8","type":"link in","z":"51a91122.46564","name":"SayItWatson","links":["41f2e73d.db90e8"],"x":160,"y":200,"wires":[["6774a2c6.2e82ac"]]},{"id":"536d9ca0.78f234","type":"ibmiot in","z":"5ec7fe0b.56595","authentication":"apiKey","apiKey":"e6de16af.179ff8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"playbulb30","applicationId":"","deviceType":"pycom","eventType":"+","commandType":"","format":"json","name":"Lora","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":110,"y":140,"wires":[["2c599ee.6c7fc62","72bb3a46.b37484","fa2c6c58.8ea66","d3db4581.863928"]]},{"id":"2c599ee.6c7fc62","type":"debug","z":"5ec7fe0b.56595","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":140,"wires":[]},{"id":"72bb3a46.b37484","type":"switch","z":"5ec7fe0b.56595","name":"deviceid","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":260,"wires":[["aec76bbd.c518f8","6527085f.5669b8"],["ef2debc9.8be8d8"],["a5570ef2.b10b2"]]},{"id":"aec76bbd.c518f8","type":"debug","z":"5ec7fe0b.56595","name":"PIR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":180,"wires":[]},{"id":"a5570ef2.b10b2","type":"debug","z":"5ec7fe0b.56595","name":"GW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":300,"wires":[]},{"id":"ef2debc9.8be8d8","type":"debug","z":"5ec7fe0b.56595","name":"Yellow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":240,"wires":[]},{"id":"6527085f.5669b8","type":"function","z":"5ec7fe0b.56595","name":"","func":"msg.payload=msg.payload.pir\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["b34f6672.d83288"]]},{"id":"b34f6672.d83288","type":"debug","z":"5ec7fe0b.56595","name":"PIR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":140,"wires":[]},{"id":"fa2c6c58.8ea66","type":"ui_text","z":"5ec7fe0b.56595","group":"b98c897b.471fc8","order":0,"width":0,"height":0,"name":"","label":"DeviceID","format":"{{msg.deviceId}}","layout":"row-spread","x":370,"y":40,"wires":[]},{"id":"b71b63fd.397f5","type":"ui_text","z":"5ec7fe0b.56595","group":"b98c897b.471fc8","order":0,"width":0,"height":0,"name":"","label":"Location","format":"Basement","layout":"row-spread","x":360,"y":80,"wires":[]},{"id":"a46d25d3.0fac58","type":"ui_text","z":"5ec7fe0b.56595","group":"2b771ce9.1fe254","order":0,"width":0,"height":0,"name":"","label":"Current Time","format":"{{msg.payload.data.sense.time}}","layout":"row-spread","x":1030,"y":440,"wires":[]},{"id":"d3db4581.863928","type":"function","z":"5ec7fe0b.56595","name":"pass","func":"    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \tmsg.payload.localtime=  tm_day +\"-\" +tm_mon +\"-\" +tm_year+\" \" +tm_hour+\":\" + tm_hour +\":\" +\ttm_sec\n    \tmsg.payload.localtimerb=  tm_day +\"-\" +tm_mon +\"-\" +tm_year+\" \" +(tm_hour+1)+\":\" + tm_hour +\":\" +\ttm_sec\n    \tmsg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["9c71afd.d8bb65","d2990a25.54d488","41458986.157688","c8a0b2db.9632f"]]},{"id":"9c71afd.d8bb65","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"b98c897b.471fc8","order":3,"width":0,"height":0,"gtype":"gage","title":"MessageID","label":"units","format":"{{msg.payload.msgid}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":250,"y":480,"wires":[]},{"id":"c9cdc627.da1ad8","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"b98c897b.471fc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"units","format":"{{msg.payload.data.sense.battery}}","min":0,"max":"5","colors":["#00b500","#e6e600","#397b00"],"seg1":"","seg2":"","x":820,"y":500,"wires":[]},{"id":"d2990a25.54d488","type":"function","z":"5ec7fe0b.56595","name":"fix numbers","func":"msg.payload.data.sense.battery = parseFloat(msg.payload.data.sense.battery).toFixed(1)\nmsg.payload.data.sense.mlp_pres = parseFloat(msg.payload.data.sense.mlp_pres/100).toFixed(1)\nmsg.payload.data.sense.mlp_alti = parseFloat(msg.payload.data.sense.mlp_alti).toFixed(1)\nmsg.payload.data.sense.temperature = parseFloat(msg.payload.data.sense.temperature).toFixed(1)\nmsg.payload.data.sense.dew_point = parseFloat(msg.payload.data.sense.dew_point).toFixed(1)\nmsg.payload.data.sense.mlp_temp = parseFloat(msg.payload.data.sense.mlp_temp).toFixed(1)\nmsg.payload.data.sense.humidity = parseFloat(msg.payload.data.sense.humidity).toFixed(1)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[["c9cdc627.da1ad8","30e3fbda.43caa4","45f3dc69.6539f4","ef3c2d34.6924","1f85476b.764189","8b3b28f7.793ab8","2e34a175.e6d47e","af10cf5c.31946","99d4d0a1.57459","ab86c752.a4d9c8"]]},{"id":"b0fac557.ab0ec8","type":"ui_template","z":"5ec7fe0b.56595","group":"2b771ce9.1fe254","name":"Time and Temp","order":0,"width":"6","height":"2","format":"<script>\n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.payload) != \"undefined\") $(\"#DSEGTemp\").text(msg.payload);\n               if (typeof(msg.colour) != \"undefined\") \n                            { \n                             if (msg.colour==\"orange\"){ $(\".Clock-Wrapper\").css('background-color', '#fb7c00');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"green\") { $(\".Clock-Wrapper\").css('background-color', '#66ac66');  $(\".lcdClock\").css('color', '#222'); }                            \n                             if (msg.colour==\"blue\")  { $(\".Clock-Wrapper\").css('background-color', '#8888ff');  $(\".lcdClock\").css('color', '#222'); }\n                             if (msg.colour==\"yellow\"){ $(\".Clock-Wrapper\").css('background-color', '#bbbb44');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"white\") { $(\".Clock-Wrapper\").css('background-color', '#aaaaaa');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"pink\")  { $(\".Clock-Wrapper\").css('background-color', '#ff8888');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"red\")  { $(\".Clock-Wrapper\").css('background-color', '#aa2222');  $(\".lcdClock\").css('color', '#ccaa22'); } \n                            }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:72px;\nheight:72px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n\tcolor:rgba(0,0,0,0.15);\n}\n\n.Clock-Time-Front{\n\tz-index:100;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.Clock-Year-Background{\n\tz-index:50;\n;\n\tcolor:rgba(0,0,0,0.1);\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:100;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:100; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:100; }\n.tempcBack { z-index:50; color:rgba(0,0,0,0.1); }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTemp\" class=\"temp D7MBI\">41</span>\n\t<span id=\"DSEGTemp\" class=\"tempBack D7MBI\">88</span>\t\n\t<span id=\"DSEGTempc\" class=\"tempc D7MI\">C</span>\n\t<span id=\"DSEGTempc\" class=\"tempcBack D7MI\">8</span>\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":420,"y":740,"wires":[[]]},{"id":"f6bd8f29.c624f","type":"inject","z":"5ec7fe0b.56595","name":"21c","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"x":210,"y":721,"wires":[["b0fac557.ab0ec8"]]},{"id":"dd4a3536.3d6e68","type":"inject","z":"5ec7fe0b.56595","name":"32c","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"x":210,"y":761,"wires":[["b0fac557.ab0ec8"]]},{"id":"7d13b0ae.4b2b4","type":"inject","z":"5ec7fe0b.56595","name":"green","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":820,"wires":[["743f47d8.962468"]]},{"id":"e5298a8a.fb94b8","type":"inject","z":"5ec7fe0b.56595","name":"orange","topic":"","payload":"orange","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":860,"wires":[["743f47d8.962468"]]},{"id":"743f47d8.962468","type":"function","z":"5ec7fe0b.56595","name":"","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":840,"wires":[["b0fac557.ab0ec8"]]},{"id":"e6dff2ef.ac0e6","type":"inject","z":"5ec7fe0b.56595","name":"blue","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":900,"wires":[["743f47d8.962468"]]},{"id":"312bdb48.652294","type":"inject","z":"5ec7fe0b.56595","name":"yellow","topic":"","payload":"yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":940,"wires":[["743f47d8.962468"]]},{"id":"882cbec0.29cd","type":"inject","z":"5ec7fe0b.56595","name":"white","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":980,"wires":[["743f47d8.962468"]]},{"id":"242e633b.2e865c","type":"inject","z":"5ec7fe0b.56595","name":"pink","topic":"","payload":"pink","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":1020,"wires":[["743f47d8.962468"]]},{"id":"adcd4203.f1c5d","type":"inject","z":"5ec7fe0b.56595","name":"red and light text","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1060,"wires":[["743f47d8.962468"]]},{"id":"cf24268d.bf62a8","type":"ui_text","z":"5ec7fe0b.56595","group":"2b771ce9.1fe254","order":0,"width":0,"height":0,"name":"","label":"River Bennett","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":340,"wires":[]},{"id":"b08fa9a5.1d6928","type":"ui_text","z":"5ec7fe0b.56595","group":"2b771ce9.1fe254","order":0,"width":0,"height":0,"name":"","label":"Local Time ","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":400,"wires":[]},{"id":"1b3a0eca.084221","type":"function","z":"5ec7fe0b.56595","name":"Format Time","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["b08fa9a5.1d6928"]]},{"id":"1ef2dd6b.6f6cd3","type":"comment","z":"5ec7fe0b.56595","name":"Example Flow","info":"This is an example flow created by Mac and Huche.\nThis flow runs once every second because of the Inject \"timestamp\" node.\nThe timestamp is fed to the debug node and outputted in milliseconds since 1/1/1970.\nClick the debug tab to view these debug messages.\nThe function node is simple javascript to retrieve the time and date in a specific format.\nThis formatted date is given to the text dashboard node.\nTo view this dashboard, click the dashboard tab or go to\nhttp://localhost:1880/ui","x":770,"y":300,"wires":[]},{"id":"9d1c4b32.0c1898","type":"function","z":"5ec7fe0b.56595","name":"Format Time","func":"var d = new Date();\nvar options = { timeZone: 'America/Halifax', timeZoneName: 'short', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":340,"wires":[["cf24268d.bf62a8"]]},{"id":"41458986.157688","type":"function","z":"5ec7fe0b.56595","name":"pass","func":"    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \tmsg.payload.localtime=  tm_day +\"-\" +tm_mon +\"-\" +tm_year+\" \" +tm_hour+\":\" + tm_hour +\":\" +\ttm_sec\n    \tmsg.payload.localtimerb=  tm_day +\"-\" +tm_mon +\"-\" +tm_year+\" \" +(tm_hour+1)+\":\" + tm_hour +\":\" +\ttm_sec\n    \tmsg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["1b3a0eca.084221","a46d25d3.0fac58","9d1c4b32.0c1898"]]},{"id":"30e3fbda.43caa4","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"b98c897b.471fc8","order":3,"width":0,"height":0,"gtype":"gage","title":"PYCom Temp","label":"units","format":"{{msg.payload.data.sense.temperature}}","min":"-20","max":"30","colors":["#00b500","#e6e600","#ff0000"],"seg1":"","seg2":"","x":840,"y":540,"wires":[]},{"id":"45f3dc69.6539f4","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"e8eabcf4.39d56","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.data.sense.humidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#397b00"],"seg1":"","seg2":"","x":820,"y":580,"wires":[]},{"id":"ef3c2d34.6924","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"e8eabcf4.39d56","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.data.sense.mlp_temp}}","min":"-20","max":"30","colors":["#00b500","#e6e600","#397b00"],"seg1":"","seg2":"","x":830,"y":620,"wires":[]},{"id":"1f85476b.764189","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"e8eabcf4.39d56","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{msg.payload.data.sense.mlp_pres}}","min":"0","max":"1200","colors":["#00b500","#e6e600","#397b00"],"seg1":"","seg2":"","x":820,"y":660,"wires":[]},{"id":"8b3b28f7.793ab8","type":"ui_gauge","z":"5ec7fe0b.56595","name":"","group":"e8eabcf4.39d56","order":3,"width":0,"height":0,"gtype":"gage","title":"Dew Point","label":"units","format":"{{msg.payload.data.sense.dew_point}}","min":"0","max":"15","colors":["#00b500","#e6e600","#397b00"],"seg1":"","seg2":"","x":830,"y":700,"wires":[]},{"id":"2e34a175.e6d47e","type":"debug","z":"5ec7fe0b.56595","name":"GW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":560,"wires":[]},{"id":"c8a0b2db.9632f","type":"function","z":"5ec7fe0b.56595","name":"mlp_temp","func":"\nmsg.payload = parseFloat(msg.payload.data.sense.mlp_temp).toFixed(1)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":660,"wires":[["b0fac557.ab0ec8"]]},{"id":"ca402e59.de5ce","type":"ui_chart","z":"5ec7fe0b.56595","name":"","group":"bb9460f0.57add","order":0,"width":0,"height":0,"label":"Humidity Dew Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1240,"y":540,"wires":[[],[]]},{"id":"af10cf5c.31946","type":"function","z":"5ec7fe0b.56595","name":"","func":"var msg1={}\nmsg1=msg\n\nmsg.oldpayload=msg.payload\nmsg1.topic=\"humidity\"\nmsg1.payload=msg.oldpayload.data.sense.humidity\nnode.send(msg1)\nmsg1.topic=\"mlp_temp\"\nmsg1.payload=msg.oldpayload.data.sense.mlp_temp\nnode.send(msg1)\nmsg1.topic=\"Temperature\"\nmsg1.payload=msg.oldpayload.data.sense.temperature\nnode.send(msg1)\nmsg1.topic=\"DewPoint\"\nmsg1.payload=msg.oldpayload.data.sense.dew_point\nnode.send(msg1)\n","outputs":1,"noerr":0,"x":1030,"y":540,"wires":[["ca402e59.de5ce"]]},{"id":"66bcf608.718e08","type":"ui_chart","z":"5ec7fe0b.56595","name":"","group":"bb9460f0.57add","order":0,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1200,"y":620,"wires":[[],[]]},{"id":"99d4d0a1.57459","type":"function","z":"5ec7fe0b.56595","name":"","func":"msg.topic=\"Pressue\"\nmsg.payload=msg.payload.data.sense.mlp_pres\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":620,"wires":[["66bcf608.718e08"]]},{"id":"9b7a26c8.8985c8","type":"ui_chart","z":"5ec7fe0b.56595","name":"","group":"bb9460f0.57add","order":0,"width":0,"height":0,"label":"Messages","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1200,"y":680,"wires":[[],[]]},{"id":"ab86c752.a4d9c8","type":"function","z":"5ec7fe0b.56595","name":"","func":"msg.topic=\"Msg\"\nmsg.payload=msg.payload.msgid\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":680,"wires":[["9b7a26c8.8985c8"]]},{"id":"fc93461d.c38148","type":"http request","z":"cf8ef1ff.20719","name":"","method":"GET","ret":"txt","url":"https://api.ambientweather.net/v1/devices?applicationKey=4ebc8f095d594a2e81762687fa00cb8d42885c4c95764d38be71daeea69fe048&apiKey=35e7407b4ca6411e8fb397aeb68696c3273777e98029458b8d35a816820d8bbb","tls":"","x":410,"y":280,"wires":[["1e1abed5.3c35c1"]]},{"id":"c23b35b1.459b38","type":"inject","z":"cf8ef1ff.20719","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":220,"wires":[["fc93461d.c38148"]]},{"id":"b60c9911.93df18","type":"debug","z":"cf8ef1ff.20719","name":"Temperature F","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":400,"wires":[]},{"id":"1e1abed5.3c35c1","type":"json","z":"cf8ef1ff.20719","name":"","property":"payload","action":"","pretty":false,"x":440,"y":340,"wires":[["59aecbe4.17c184","dd0ba135.a2e3f"]]},{"id":"59aecbe4.17c184","type":"change","z":"cf8ef1ff.20719","name":"AWtempf","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].lastData.tempf","tot":"msg"},{"t":"set","p":"tempf","pt":"flow","to":"payload.AWtempf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["b60c9911.93df18"]]},{"id":"dd0ba135.a2e3f","type":"debug","z":"cf8ef1ff.20719","name":"All Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":340,"wires":[]}]
