wunderground/weatherdata.flow
[{"id":"fe81107e.369e8","type":"tab","label":"Wunderground","disabled":false,"info":""},{"id":"dfba81b6.db302","type":"comment","z":"fe81107e.369e8","name":"API key","info":"apiKey=cd9345030afd47e69345030afde7e6a9","x":110,"y":40,"wires":[]},{"id":"54a5a321.370b1c","type":"comment","z":"fe81107e.369e8","name":"MY PWS -stationId=ITORONTO277","info":"units=e - imperial\nunits=m = metric\n\nhttps://api.weather.com/v2/pws/observations/current?stationId=ITORONTO277&format=json&units=m&apiKey=cd9345030afd47e69345030afde7e6a9","x":200,"y":120,"wires":[]},{"id":"1fe123ac.3b1c9c","type":"comment","z":"fe81107e.369e8","name":"Airport-YYZ","info":"https://api.weather.com/v3/wx/observations/current?apiKey=6532d6454b8aa370768e63d6ba5a832e&geocode=43.674%2C-79.658&units=m&language=en-US&format=json","x":130,"y":180,"wires":[]},{"id":"afc4291a.996ee8","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["a3e08410.15ccb8"]]},{"id":"a3e08410.15ccb8","type":"function","z":"fe81107e.369e8","name":"Set YOUR WeatherUnderGroundAPIKEY","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"WAPIKEY\",\"cd9345030afd47e69345030afde7e6a9\")\nmsg.payload=\"Weather key set !\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["41de8c97.0d0884"]]},{"id":"41de8c97.0d0884","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":220,"wires":[]},{"id":"1390d0a6.5531ef","type":"http request","z":"fe81107e.369e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":710,"y":340,"wires":[["5402da43.bc25d4","3e900814.9d3908"]]},{"id":"f03fa951.c776a8","type":"inject","z":"fe81107e.369e8","name":"GetMyPWSWeather","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":340,"wires":[["66bec2fb.75b85c"]]},{"id":"66bec2fb.75b85c","type":"function","z":"fe81107e.369e8","name":"get my local weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you weatherunderground api 1st\")\n\nmsg.url=\"https://api.weather.com/v2/pws/observations/current?stationId=ITORONTO277&format=json&units=m&apiKey=\"+myapikey\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["1390d0a6.5531ef"]]},{"id":"547a514d.6c7f9","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":400,"wires":[]},{"id":"5402da43.bc25d4","type":"http response","z":"fe81107e.369e8","name":"","statusCode":"","headers":{},"x":870,"y":340,"wires":[]},{"id":"3e900814.9d3908","type":"json","z":"fe81107e.369e8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":400,"wires":[["547a514d.6c7f9","8728830f.c5318"]]},{"id":"5375417c.ef9ca","type":"comment","z":"fe81107e.369e8","name":"darksky - airport","info":"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.674,-79.658?exclude=minutely,hourly,daily,alerts,flags&units=auto\n\nhttps://darksky.net/forecast/43.6714,-79.404/us12/en\n\n","x":760,"y":120,"wires":[]},{"id":"3a8efb2.010e804","type":"comment","z":"fe81107e.369e8","name":"Wunderground","info":"\"https://api.weather.com/v2/pws/observations/current?stationId=ITORONTO277&format=json&units=m&apiKey=\"+myapikey\n","x":140,"y":80,"wires":[]},{"id":"3c4e81b6.1d4cfe","type":"comment","z":"fe81107e.369e8","name":"PWS - bloomsky api example","info":"https://api.bloomsky.com/api/skydata/?unit=intl","x":800,"y":40,"wires":[]},{"id":"1ffc6702.e794b9","type":"debug","z":"fe81107e.369e8","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1000,"y":500,"wires":[]},{"id":"8728830f.c5318","type":"function","z":"fe81107e.369e8","name":"set  local Temperature","func":"node.warn(msg.payload.observations[0])\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n\n*/\nmsg.payload.observations[0].metric.mytime=Date.now()\nglobal.set(\"localtemp\",msg.payload.observations[0].metric.temp)\nnode.warn(\"Annex temp = \"+global.get(\"localtemp\"))\n\nmsg.payload.observations[0].metric.mytemp = msg.payload.observations[0].metric.temp\nmsg.payload.observations[0].metric.mytime=Date.now()\n\nmsg.payload.observations[0].metric.myhumidity=msg.payload.observations[0].humidity\nmsg.payload.observations[0].metric.mypressure=msg.payload.observations[0].pressure\nglobal.set(\"localweather\",msg.payload.observations[0].metric);\nmsg.payload=msg.payload.observations[0].metric\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["1ffc6702.e794b9"]]},{"id":"d360d490.d75d08","type":"comment","z":"fe81107e.369e8","name":"PWD example payload (metric)","info":"{\"observations\":[{\"stationID\":\"ITORONTO277\",\"obsTimeUtc\":\"2019-11-28T19:39:30Z\",\"obsTimeLocal\":\"2019-11-28 14:39:30\",\"neighborhood\":\"Annex\",\"softwareType\":\"BloomSky\",\"country\":\"CA\",\"solarRadiation\":null,\"lon\":-79.40840149,\"realtimeFrequency\":null,\"epoch\":1574969970,\"lat\":43.66918182,\"uv\":1260,\"winddir\":null,\"humidity\":51,\"qcStatus\":-1,\"metric\":{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}}]}","x":510,"y":120,"wires":[]},{"id":"74cbd7dd.08c9d8","type":"chromecast-play","z":"fe81107e.369e8","name":"Say It","url":"","contentType":"","ip":"","x":990,"y":600,"wires":[[]]},{"id":"de4f934.18f137","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":600,"wires":[["8b202ce1.c75b7"]]},{"id":"8b202ce1.c75b7","type":"function","z":"fe81107e.369e8","name":"Hello","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString();\n     nowArray = time.split(':');\n     time = 'It%20is%20now%20'+nowArray[0]+':'+nowArray[1];\n    time1 = 'It is now '+nowArray[0]+':'+nowArray[1];\n //   url:'https://translate.google.com/translate_tts?ie=UTF-8&q=It%20is%20now'+time+'&tl=en&total=1&idx=0&textlen=15&tk=993823.614268&client=t&prev=input&ttsspeed=1',\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&q=It%20is%20now%2012%2003&tl=en&total=1&idx=0&textlen=15&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=15&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello+Markus&tl=en&total=1&idx=0&textlen=5&tk=562021.976405&client=t&prev=input&ttsspeed=1'\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Hello+World'\n//url = 'https://translate.google.com/translate_tts?ie=UTF-8&q='+time+'&tl=en&total=1&idx=0&textlen='+time1.length+'&tk=955860.581808&client=t&prev=input&ttsspeed=1',\n  //   url = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=5&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["74cbd7dd.08c9d8"]]},{"id":"fc8ee3d0.3a264","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"url = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":560,"wires":[["74cbd7dd.08c9d8"]]},{"id":"de62cc8.e2b333","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":560,"wires":[["fc8ee3d0.3a264"]]},{"id":"1278d629.2a32ea","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["c06057dd.85a278"]]},{"id":"c06057dd.85a278","type":"function","z":"fe81107e.369e8","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["adc70500.121158"]]},{"id":"adc70500.121158","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"2bfca7eb.1849a8","type":"comment","z":"fe81107e.369e8","name":"ChromeCastAPI","info":"https://rithvikvibhu.github.io/GHLocalApi/","x":460,"y":40,"wires":[]},{"id":"c79c131a.ee801","type":"alexa-remote-routine","z":"fe81107e.369e8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":780,"y":1120,"wires":[["e9dc21a8.4fe44"]]},{"id":"b52022c4.1f34a","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1120,"wires":[["3200d4f1.2b6a9c"]]},{"id":"ee5a99d7.2cad68","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"txt='Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload=txt\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1120,"wires":[["c79c131a.ee801"]]},{"id":"e9dc21a8.4fe44","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":1120,"wires":[]},{"id":"f5b1fb5b.8d5ee8","type":"comment","z":"fe81107e.369e8","name":"Alexa tts","info":"","x":200,"y":1000,"wires":[]},{"id":"2075ae29.20d552","type":"comment","z":"fe81107e.369e8","name":"ChromeCast tts","info":"","x":260,"y":520,"wires":[]},{"id":"bb5de467.064468","type":"watson-text-to-speech","z":"fe81107e.369e8","name":"Say it Watson","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/mp3","password":"4wHMFxPvalCp","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":640,"y":1280,"wires":[["2c71f4bd.1f568c","140396e4.a50bc9"]]},{"id":"b5b98415.ca2498","type":"comment","z":"fe81107e.369e8","name":"Watson tts","info":"{\n  \"url\": \"https://stream.watsonplatform.net/text-to-speech/api\",\n  \"password\": \"4wHMFxPvalCp\",\n  \"username\": \"d0868abe-bde9-4458-a2e6-10fa33f89c96\"\n}","x":200,"y":1200,"wires":[]},{"id":"127ccf8d.1fadd","type":"function","z":"fe81107e.369e8","name":"Say local temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"Hello, Somebody is at the Door\"\n//node.warn(msg.payload )\ntxt='Local temperature is now '+ global.get(\"localtemp\") +\" degree's !\"\nmsg.payload=txt\nnode.warn(msg.payload )\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":1280,"wires":[["bb5de467.064468"]]},{"id":"31246516.1e41ba","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1280,"wires":[["127ccf8d.1fadd"]]},{"id":"2c71f4bd.1f568c","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1280,"wires":[]},{"id":"c6020a1a.fba038","type":"chromecast-play","z":"fe81107e.369e8","name":"Say It","url":"","contentType":"","ip":"","x":690,"y":1400,"wires":[["bca1b083.5a0c"]]},{"id":"fa179872.c0d658","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":1400,"wires":[["c6020a1a.fba038"]]},{"id":"bca1b083.5a0c","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1400,"wires":[]},{"id":"140396e4.a50bc9","type":"function","z":"fe81107e.369e8","name":"Save Speech","func":"base = \"/tmp/cache_speech/sayit.mp3\";\nmsg.filename = base// + msg.file;\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1340,"wires":[["1cdb9cbe.bb4d23"]]},{"id":"1cdb9cbe.bb4d23","type":"file","z":"fe81107e.369e8","name":"SaveSpeech","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":650,"y":1340,"wires":[["5dbd889f.269f58"]]},{"id":"30643ab5.7982e6","type":"http in","z":"fe81107e.369e8","name":"","url":"/sayit","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1500,"wires":[["cca0228b.6b3cb"]]},{"id":"cca0228b.6b3cb","type":"file in","z":"fe81107e.369e8","name":"","filename":"/tmp/cache_speech/sayit.mp3","format":"","sendError":true,"x":450,"y":1500,"wires":[["cf4e2467.4535e8"]]},{"id":"cf4e2467.4535e8","type":"change","z":"fe81107e.369e8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1500,"wires":[["fd0825fd.cf3d78"]]},{"id":"fd0825fd.cf3d78","type":"http response","z":"fe81107e.369e8","name":"","x":870,"y":1500,"wires":[]},{"id":"5dbd889f.269f58","type":"delay","z":"fe81107e.369e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1320,"wires":[["fa179872.c0d658"]]},{"id":"227e5d76.386bb2","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":300,"wires":[["6b620d90.299974"]]},{"id":"6b620d90.299974","type":"function","z":"fe81107e.369e8","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.23\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["641e69f.b4e3f98"]]},{"id":"641e69f.b4e3f98","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"3200d4f1.2b6a9c","type":"function","z":"fe81107e.369e8","name":"Time  and temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\n\nlocaltemp = global.get(\"localtemp\")\n\n\nmsg.payload = msg.payload + \", the Local temperature is \"+localtemp+\" degrees !\"//, Airport temperature is \" + airport + \", and \"+msg.observation.wx_phrase + \"\nnode.warn(msg.payload )\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1160,"wires":[["c79c131a.ee801"]]},{"id":"54231286.286a2c","type":"alexa-remote-init","z":"fe81107e.369e8","name":"","account":"2d576b28.c67e64","option":"initialise","x":360,"y":1060,"wires":[["446f7b76.fc6eb4"]]},{"id":"ab6c7964.1a0c58","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"alexa","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1060,"wires":[["54231286.286a2c"]]},{"id":"446f7b76.fc6eb4","type":"change","z":"fe81107e.369e8","name":"","rules":[{"t":"set","p":"alexa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1060,"wires":[["879468d1.a6a638"]]},{"id":"879468d1.a6a638","type":"debug","z":"fe81107e.369e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":1060,"wires":[]},{"id":"1d3bea84.c4ab05","type":"http request","z":"fe81107e.369e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":790,"y":760,"wires":[["3a88e2d5.9f2dce"]]},{"id":"88a89baf.a87038","type":"inject","z":"fe81107e.369e8","name":"GetMyAirPortWeather","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":760,"wires":[["aa24e67f.c59688"]]},{"id":"aa24e67f.c59688","type":"function","z":"fe81107e.369e8","name":"get my Airport weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set you weatherunderground api 1st\")\n\nmsg.url=\"https://api.weather.com/v3/wx/observations/current?geocode=43.674%2C-79.658&units=m&language=en-US&format=json&apiKey=\"+myapikey\nmsg.url=\"https://api.weather.com/v3/wx/observations/current?apiKey=6532d6454b8aa370768e63d6ba5a832e&geocode=43.674%2C-79.658&units=m&language=en-US&format=json\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["1d3bea84.c4ab05"]]},{"id":"3a88e2d5.9f2dce","type":"json","z":"fe81107e.369e8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":820,"wires":[["2815dc43.e1ef74","9be350e8.60097"]]},{"id":"2815dc43.e1ef74","type":"debug","z":"fe81107e.369e8","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":820,"wires":[]},{"id":"9be350e8.60097","type":"function","z":"fe81107e.369e8","name":"set  airport Temperature","func":"//node.warn(msg.payload)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n\n*/\n\nglobal.set(\"airporttemp\",msg.payload.temperature)\nnode.warn(\"Airport temp = \"+global.get(\"airporttemp\"))\nmsg.payload.myairporttemp=msg.payload.temperature\nmsg.payload.myphrase=msg.payload.cloudCoverPhrase\nmsg.payload.mytime=Date.now()\n\ngust=msg.payload.windGust\nif(gust==null)\ngust=msg.payload.windSpeed\n\nmsg.payload.mygust=gust\n\nmsg.payload.mytemp = msg.payload.temperature\nmsg.payload.mytime=Date.now()\n\nmsg.payload.myhumidity=msg.payload.relativeHumidity\nmsg.payload.mypressure=msg.payload.pressureAltimeter\nmsg.payload.mysummery=msg.payload.cloudCoverPhrase\nmsg.payload.myfeel=msg.payload.temperatureFeelsLike\n\nglobal.set(\"airportweather\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":860,"wires":[["5a0b623.07bbd9c"]]},{"id":"6097810e.bff5a","type":"function","z":"fe81107e.369e8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = Math.round(global.get(\"airporttemp\"))\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometer per hour. \"\nnode.warn(msg.payload )\n\nflow.set(\"weathertext\",msg.payload)\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+msg.payload \nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":900,"wires":[["5a0b623.07bbd9c","83078103.f5f2a"]]},{"id":"5a0b623.07bbd9c","type":"debug","z":"fe81107e.369e8","name":"AirportWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":860,"wires":[]},{"id":"83078103.f5f2a","type":"chromecast-play","z":"fe81107e.369e8","name":"Say It","url":"","contentType":"","ip":"","x":1030,"y":900,"wires":[[]]},{"id":"a02273b9.6c8dc","type":"alexa-remote-routine","z":"fe81107e.369e8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":1060,"y":940,"wires":[[]]},{"id":"282799fc.e47266","type":"function","z":"fe81107e.369e8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = Math.round(global.get(\"airporttemp\"))\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" kilometers per hour.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":940,"wires":[["a02273b9.6c8dc"]]},{"id":"4c352ecd.e49c3","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 10-21 * * *","once":false,"onceDelay":0.1,"x":370,"y":940,"wires":[["282799fc.e47266"]]},{"id":"ed79568f.47d818","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":900,"wires":[["6097810e.bff5a"]]},{"id":"112062ae.e2425d","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1240,"wires":[["b62a54e3.904b38"]]},{"id":"b62a54e3.904b38","type":"function","z":"fe81107e.369e8","name":"Say Time,Local temp and airport conditions","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\nglobal.get(\"localtemp\")\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = global.get(\"airporttemp\")\nairportweather = global.get(\"airportweather\")\ncloudCoverPhrase=airportweather.cloudCoverPhrase\ngust=airportweather.windGust\nif(gust==null)\ngust=airportweather.windSpeed\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees , the  Airport temperature is \" + airporttemp + \", and \"+cloudCoverPhrase + \" with wind gusts of \"+gust + \" km/h.\"\nnode.warn(msg.payload )\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":1240,"wires":[["bb5de467.064468"]]},{"id":"9af493f.60fd37","type":"chromecast-play","z":"fe81107e.369e8","name":"TV","url":"","contentType":"","ip":"","x":690,"y":1440,"wires":[[]]},{"id":"91b389a7.54b228","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"msg.payload = {\n    ip_address: \"10.0.4.110\",\n    ip: \"10.0.4.110\",\n    url: \"http://\"+flow.get(\"LOCALIP\")+\":1880/sayit\",\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":1440,"wires":[["9af493f.60fd37"]]},{"id":"419c857.c1a7c7c","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1440,"wires":[["91b389a7.54b228"]]},{"id":"d60bcbb0.8596e8","type":"alexa-remote-routine","z":"fe81107e.369e8","name":"","account":"2d576b28.c67e64","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G070QQ1090360B8G"]}},"x":1020,"y":640,"wires":[[]]},{"id":"361369c9.003de6","type":"function","z":"fe81107e.369e8","name":"Broadcast local Temperature","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString('en-US');\n     nowArray = time.split(':');\n     time = nowArray[0]+':'+nowArray[1];\n       ampm = nowArray[2].split(' ');\n     time = nowArray[0]+':'+nowArray[1]+\" \"+ampm[1];\n\nmsg.payload = \"It is now \" + time\n\n\n//msg.payload ={}/\n///msg.payload.temp = msg.observation.temp\nlocaltemp = Math.round(global.get(\"localtemp\"))\nairporttemp = global.get(\"airporttemp\")\n\nmsg.payload = msg.payload + \", the local temperature is \"+localtemp+\" degrees\"\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["d60bcbb0.8596e8"]]},{"id":"a1958d27.68a6e","type":"inject","z":"fe81107e.369e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":640,"wires":[["361369c9.003de6"]]},{"id":"b108972e.e98228","type":"inject","z":"fe81107e.369e8","name":"hourly","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["6097810e.bff5a"]]},{"id":"2d576b28.c67e64","type":"alexa-remote-account","z":"","name":"New","authMethod":"proxy","proxyOwnIp":"10.0.4.23","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"}]
